@charset "utf-8";

body,h1,h2,h3,h4,h5,h6{
	font-family: "Microsoft Yahei";
}
.navbar button{
  margin-top: 7px;
}
table.table tbody tr td{
  vertical-align: middle;
}
table.text-center th{
  text-align: center;
}
.tags-select{
	padding-left: 0;
}
.tags-1{
	color: #f00;
}
.tags-2{
	color: #00f;
}
.tags-3{
	color: #008000;
}
.tags-select .col-md-4{
	margin-bottom: 20px;
}
.official .col-md-3{
	margin-bottom: 20px;
	height: 136px;
}
.js-official-id{
	height: 34px;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	line-height: 16px;
}
@media (min-width: 1200px){
	.col-lg-1 {
		width: 11.333333%;
	}	
}
.products-edit .form-group{
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
.products-edit .clearfix .checkbox-inline{
	width: 60px;
}
.nopdl{
	padding-left: 0!important;
	margin-left: 0!important;
	float: left;
}
.form-group .radio-inline{
	margin-left: 0;
	margin-right: 10px;
	margin-bottom: 5px;
}