﻿@charset "utf-8";
/*- Html Tags Reset -*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure {padding:0; margin:0; }
body{ font:12px/1.5 Tahoma,"微软雅黑",Arial,Helvetica,simsun,sans-serif; background-color:#eee; }
abbr,article,aside,bb,datagrid,datalist,details,dialog,event-source,figure,figcaption,footer,header,mark,menu,meter,nav,output,progress,section,time {display: block; height:auto; }
table{border-collapse:collapse; border-spacing:0; }
ol, ul{list-style:none outside; }
h1, h2, h3, h4, h5, h6{font-size:100%; }
fieldset, img{border:0 none; vertical-align:middle; }
/*img {background:url(/images/loading.gif) no-repeat center center; }*/
a{color:#333; text-decoration:none; }
a:hover{color:#ff0000; text-decoration:none; }
em{font-style:normal; }
input, textarea{padding:2px; }
textarea{overflow-y:auto; }
input,select,textarea {font:12px Arial,Tahoma,simsun; }
button{overflow:visible; padding:0;vertical-align:middle; }
button,label{cursor:pointer; }
.clearfix:after{content:".";height:0;visibility:hidden;display:block;clear:both;font-size:0;line-height:0;}
.clearfix{*zoom:1;}
.line_rx{ background:url(../images/index_content.png) 0 0 repeat-x; font-size:1px; height:1px; line-height:1px; margin-bottom:10px;}

.none {display: none;}

/*头部*/
.header{ width:100%; height:116px; background:#FFF; overflow:hidden; position:relative;}

.header_top{ width:100%; height:82px;}
.header_top h1{ display:block; float:left; width:231px; height:82px;}
.header_top h1 a{ display:block; width:191px; height:51px; background:url(../images/dr_logo.png) 0 0 no-repeat; text-indent:-9999px; margin:16px 0 0 20px;}


/*头部-城市*/
.dr_city{ float:left; width:355px; height:46px; background:url(../images/line1.png) left 0 no-repeat; padding:18px 30px; overflow:hidden; }
.city_name{ float:left; height:46px; border-right:1px solid #ddd; padding:0 20px 0 0; margin:0 20px 0 0; overflow:hidden;}
.city_name h2{ font-size:26px; line-height:30px; font-weight:normal; color:#333;}
.city_name span{ color:#a1a1a1;}

.city{ float:left; margin:1px 0 0 0;}
.city a.change_city{ display:block; width:72px; height:22px; line-height:21px; background:#FF0000; color:#FFF; text-align:center;}
.city a.change_city:hover{ background:#900;}
.city .near_un{ display:block; height:20px; line-height:20px; margin:5px 0 0 0;}
.city .near_un i{ display:block; float:left; width:20px; height:20px; margin:0 8px 0 0;}
.city .near_un i.city_wz{ background:url(../images/city_near_icon.png) 0 0 no-repeat;}
.city .near_un i.city_wz2{ display: none;background:url(../images/city_near_icon.png) 0 -20px no-repeat;}
.city .near_un a{ float:left; color:#666; margin:0 8px 0 0;}
.city .near_un a:hover{ color:#F00;}

/*头部-优惠*/
.preferential{float:right; width:321px; height:82px; background:url(../images/line1.png) left 0 no-repeat; overflow:hidden; position:relative;}

.preferential ul.preferential_side_bar{ width:10px; position:absolute; top:25px; right:10px; overflow:hidden;z-index:1000;}
.preferential ul.preferential_side_bar li{ display:block; width:8px; height:8px; background:url(../images/preferential_side_bar.png) 0 0 no-repeat; cursor:pointer; margin:0 0 4px 0; z-index:10;}
.preferential ul.preferential_side_bar li.current{ background:url(../images/preferential_side_bar.png) 0 -8px no-repeat;}

.preferential ul.preferential_con{ width:321px; height:82px; line-height:18px;position:absolute; top:0; overflow:hidden;}
.preferential ul.preferential_con li{ display:block; width:265px; height:58px; padding:11px 45px 11px 11px;}
.preferential ul.preferential_con li i{ display:block; float:left; width:58px; height:57px; margin:0 12px 0 0;}
.preferential ul.preferential_con li a{ cursor:pointer; margin-top:4px; display:block;}
.preferential ul.preferential_con li p{ margin-top:4px;}
.preferential ul.preferential_con li p a{ color:#F00; display:inline;}

.preferential ul.preferential_con li.preferential_1{border-top:3px solid #28ACA7;}
.preferential ul.preferential_con li.preferential_1 i{ background:url(../images/preferential_icon.png) -174px 0 no-repeat;}

.preferential ul.preferential_con li.preferential_2{border-top:3px solid #ff0000;}
.preferential ul.preferential_con li.preferential_2 i{ background:url(../images/preferential_icon.png) -58px 0 no-repeat;}

.preferential ul.preferential_con li.preferential_3{border-top:3px solid #ffa800;}
.preferential ul.preferential_con li.preferential_3 i{ background:url(../images/preferential_icon.png) -116px 0 no-repeat;}


/*头部- 链接入口*/
.header_bot{ width:100%; height:26px; line-height:34px; background:#ff0000; padding:4px 0;}
.header_bot a{ display:block; float:left; width:68px; height:26px; line-height:26px; text-align:center; color:#ff0000; background:#FFF; margin:0 0 0 5px;}
.header_bot a.zc_btn{ margin:0 0 0 15px;}
.header_bot a:hover{ background:#900; color:#FFF;}
.header_bot a.tmail{ float:right; background:#ff0000; color:#FFF; text-align:left; width:auto; margin:0 20px 0 0;}
.header_bot a.tmail i{ display:block; float:left; width:16px; height:16px; background:url(../images/tmail_icon.png) 0 0 no-repeat; margin:5px 8px 0 0;}
.header_bot a.tmail2{ float:right; background:#ff0000; color:#FFF; text-align:left; width:auto; margin:0 20px 0 0;}
.header_bot a.tmail2 i{ display:block; float:left; width:16px; border:1px solid #fe7f7f;height:16px; background:url(../images/18543588712819864175.png) 0 0 no-repeat; margin:5px 8px 0 0;}
.login_after{ margin:0 0 0 15px;}
.login{ margin:0 0 0 15px;}
.login p{ color:white;float:left; line-height:26px; background:url(../images/tx.png) 0 0 no-repeat; padding:0 0 0 26px; margin:0 15px 0 0;}




/*我的优衣柜*/
.my_yyg{ width:auto; height:650px; position:relative;}
.my_yyg.changjing0{ background:url(../images/my_yyg_bg0.jpg) center 0 no-repeat;}
.my_yyg.changjing1{ background:url(../images/my_yyg_bg1.jpg) center 0 no-repeat;}
.my_yyg.changjing2{ background:url(../images/my_yyg_bg1.jpg) center 0 no-repeat;}
.my_yyg.changjing3{ background:url(../images/my_yyg_bg1.jpg) center 0 no-repeat;}

/*我的优衣柜- 标题*/
.my_yyg_title{ width:200px; text-align:center; position:absolute; top:35px; left:50%; margin-left:-100px; z-index:10;}
.my_yyg_title h2{ font-size:26px; color:#676767; font-weight:normal;}
.my_yyg_title a.change_yf{ display:block; width:80px; height:30px; line-height:30px; margin:7px auto; background:#ff0000; color:#FFF; font-size:14px;}
.my_yyg_title a.change_yf:hover{ background:#900;}
.my_yyg_title p{ color:#333;}

/*我的优衣柜- 模特*/
.my_yyg_model{ width:960px; margin:0 auto; }
.model{ float:left; width:240px; height:550px; margin:100px 0 0 0;cursor: pointer;overflow: hidden}
.model_try2 { width: 128px;height: 89px;background: url(../images/model_try2.png) 0 0 no-repeat;
    margin-left: 150px;margin-top: 50px;position: absolute;z-index: 100;}
.model_try2_man { width: 128px;height: 89px;background: url(../images/model_try2.png) 0 0 no-repeat;
    margin-left: 150px;margin-top: 30px;position: absolute;z-index: 100;}
.model_try2_child { width: 128px;height: 89px;background: url(../images/model_try2.png) 0 0 no-repeat;
    margin-left: 165px;margin-top: 80px;position: absolute;z-index: 100;}
/*左侧分类导航*/
ul.detail_sub_nav{ display:block; width:70px; position:absolute; left:0; top:5px;z-index:105;}
ul.detail_sub_nav li{ background:url(../images/detail_sub_nav_bg.png) 0 0 repeat;}
ul.detail_sub_nav li a{ display:block; width:70px; height:34px; margin:0 0 1px 0; }
ul.detail_sub_nav li.big_btn a{ height:70px;}
ul.ch_sub_nav{top:220px;}
.baby-style-mask{
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 70px;
    height: 350px;
    left: 0px;
    top: 290px;
    z-index: 2;
}
.male-style-mask{
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 70px;
    height: 70px;
    left: 0px;
    top: 290px;
    z-index: 2;
}

.children-style-mask{
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 70px;
    height: 70px;
    left: 0px;
    top: 506px;
    z-index: 2;
}


.baby-style-mask2{
    position: relative;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 531px;
    height: 70px;
    left: 419px;
    z-index: 2;
}
.male-style-mask2{
    position: relative;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 211px;
    height: 35px;
    left: 420px;
    z-index: 2;
}

.children-style-mask2{
    position: relative;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 213px;
    height: 35px;
    left: 525px;
    top: 35px;
    z-index: 2;
}
.style-children_mask{
    position: relative;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 107px;
    height: 35px;
    left: 631px;
    top: -35px;
    z-index: 2;
}
.change-btn-mask{
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 81px;
    height: 30px;
    margin: -49px auto;
    z-index: 12;
}
ul.detail_sub_nav li a.detail_sub_btn1{ background:url(../images/detail_sub_nav.png) 0 0 no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn2{ background:url(../images/detail_sub_nav.png) 0 -70px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn3{ background:url(../images/detail_sub_nav.png) 0 -140px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn4{ background:url(../images/detail_sub_nav.png) 0 -210px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn5{ background:url(../images/detail_sub_nav.png) 0 -280px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn6{ background:url(../images/detail_sub_nav.png) 0 -314px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn7{ background:url(../images/detail_sub_nav.png) 0 -348px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn8{ background:url(../images/detail_sub_nav.png) 0 -382px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn9{ background:url(../images/detail_sub_nav.png) 0 -416px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn10{ background:url(../images/detail_sub_nav.png) 0 -450px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn11{ background:url(../images/detail_sub_nav.png) 0 -484px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn12{ background:url(../images/detail_sub_nav.png) 0 -518px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn13{ background:url(../images/detail_sub_nav.png) 0 -552px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn14{ background:url(../images/detail_sub_nav.png) 0 -586px no-repeat;}

ul.detail_sub_nav li a.detail_sub_btn1:hover{ background:url(../images/detail_sub_nav.png) -70px 0 no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn2:hover{ background:url(../images/detail_sub_nav.png) -70px -70px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn3:hover{ background:url(../images/detail_sub_nav.png) -70px -140px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn4:hover{ background:url(../images/detail_sub_nav.png) -70px -210px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn5:hover{ background:url(../images/detail_sub_nav.png) -70px -280px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn6:hover{ background:url(../images/detail_sub_nav.png) -70px -314px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn7:hover{ background:url(../images/detail_sub_nav.png) -70px -348px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn8:hover{ background:url(../images/detail_sub_nav.png) -70px -382px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn9:hover{ background:url(../images/detail_sub_nav.png) -70px -416px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn10:hover{ background:url(../images/detail_sub_nav.png) -70px -450px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn11:hover{ background:url(../images/detail_sub_nav.png) -70px -484px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn12:hover{ background:url(../images/detail_sub_nav.png) -70px -518px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn13:hover{ background:url(../images/detail_sub_nav.png) -70px -552px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn14:hover{ background:url(../images/detail_sub_nav.png) -70px -586px no-repeat;}


ul.detail_sub_nav li a.detail_sub_btn1.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px 0 no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn2.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -70px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn3.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -140px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn4.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -210px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn5.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -280px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn6.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -314px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn7.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -348px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn8.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -382px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn9.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -416px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn10.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -450px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn11.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -484px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn12.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -518px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn13.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -552px no-repeat;}
ul.detail_sub_nav li a.detail_sub_btn14.select{ background:#ff0000 url(../images/detail_sub_nav.png) -140px -586px no-repeat;}



/*主体内容*/
.main_con{ width:100%; position:relative; padding:40px 0 0 0; height:auto;}

.main_con.water1{ background:#d4eef5 url(../images/detail_main_con_bg1.jpg) center 0 no-repeat;}
.main_con.water1 li.w_select{ background:#4165c2;}
.main_con.water1 .yyk_tj h3{ color:#4165c2;}
.main_con.water1 li a.w_select{ background:#4165c2; color:#FFF;}

.main_con.water2{ background:#b4d4e8 url(../images/detail_main_con_bg2.jpg) center 0 no-repeat;}
.main_con.water2 li.w_select{ background:#1c6397;}
.main_con.water2 .yyk_tj h3{ color:#1c6397;}
.main_con.water2 li a.w_select{ background:#1c6397; color:#FFF;}

.main_con.water3{ background:#9ccfff url(../images/detail_main_con_bg3.jpg) center 0 no-repeat;}
.main_con.water3 li.w_select{ background:#1c2757;}
.main_con.water3 .yyk_tj h3{ color:#1c2757;}
.main_con.water3 li a.w_select{ background:#1c2757; color:#FFF;}

.main_con.water4{ background:#dbe2db url(../images/detail_main_con_bg4.jpg) center 0 no-repeat;}
.main_con.water4 li.w_select{ background:#1a1c27;}
.main_con.water4 .yyk_tj h3{ color:#1a1c27;}
.main_con.water4 li a.w_select{ background:#1a1c27; color:#FFF;}

.main_con.water5{ background:#d4e5fe url(../images/detail_main_con_bg5.jpg) center 0 no-repeat;}
.main_con.water5 li.w_select{ background:#6a7786;}
.main_con.water5 .yyk_tj h3{ color:#6a7786;}
.main_con.water5 li a.w_select{ background:#6a7786; color:#FFF;}

.main_con.water6{ background:#ccd4db url(../images/detail_main_con_bg6.jpg) center 0 no-repeat;}
.main_con.water6 li.w_select{ background:#636875;}
.main_con.water6 .yyk_tj h3{ color:#636875;}
.main_con.water6 li a.w_select{ background:#636875; color:#FFF;}
/*模特图库存提示*/
.rightmsg{color: #CCCCCC;font-size: 12px;position: absolute;right: 5%;top: 96%;}
.filters{ width:950px; margin:0 auto;}

/*天气*/
.weather{ width:950px; height:80px; background:url(../images/weather_bg.png) 0 0 no-repeat; position:relative;}

.weather ul { display:block; float:left; height:80px;}
.weather ul li{ float:left; height:50px; width:150px; background:url(../images/line2.png) right 0 no-repeat; color:#3c3c3c;  padding:15px 20px; position:relative; cursor:pointer; opacity:0.9;}
.weather ul li i{ display:block; float:left; width:50px; height:50px; margin:0 10px 0 0;}

.weather ul li i.nio-0{ background:url(../images/weather_icon.png) 0 0 no-repeat;}
.weather ul li i.nio-1{ background:url(../images/weather_icon.png) -50px 0 no-repeat;}
.weather ul li i.nio-2{ background:url(../images/weather_icon.png) -100px 0 no-repeat;}
.weather ul li i.nio-3{ background:url(../images/weather_icon.png) -150px 0 no-repeat;}
.weather ul li i.nio-4{ background:url(../images/weather_icon.png) -200px 0 no-repeat;}
.weather ul li i.nio-5{ background:url(../images/weather_icon.png) -250px 0 no-repeat;}
.weather ul li i.nio-6{ background:url(../images/weather_icon.png) -300px 0 no-repeat;}
.weather ul li i.nio-7{ background:url(../images/weather_icon.png) -350px 0 no-repeat;}
.weather ul li i.nio-8{ background:url(../images/weather_icon.png) -400px 0 no-repeat;}
.weather ul li i.nio-9{ background:url(../images/weather_icon.png) -450px 0 no-repeat;}
.weather ul li i.nio-10{ background:url(../images/weather_icon.png) 0 -50px no-repeat;}
.weather ul li i.nio-11{ background:url(../images/weather_icon.png) -50px -50px no-repeat;}
.weather ul li i.nio-12{ background:url(../images/weather_icon.png) -100px -50px no-repeat;}
.weather ul li i.nio-13{ background:url(../images/weather_icon.png) -150px -50px no-repeat;}
.weather ul li i.nio-14{ background:url(../images/weather_icon.png) -200px -50px no-repeat;}
.weather ul li i.nio-15{ background:url(../images/weather_icon.png) -250px -50px no-repeat;}
.weather ul li i.nio-16{ background:url(../images/weather_icon.png) -300px -50px no-repeat;}
.weather ul li i.nio-17{ background:url(../images/weather_icon.png) -350px -50px no-repeat;}
.weather ul li i.nio-18{ background:url(../images/weather_icon.png) -400px -50px no-repeat;}
.weather ul li i.nio-19{ background:url(../images/weather_icon.png) -450px -50px no-repeat;}
.weather ul li i.nio-20{ background:url(../images/weather_icon.png) 0 -100px no-repeat;}
.weather ul li i.nio-21{ background:url(../images/weather_icon.png) -50px -100px no-repeat;}
.weather ul li i.nio-22{ background:url(../images/weather_icon.png) -100px -100px no-repeat;}
.weather ul li i.nio-23{ background:url(../images/weather_icon.png) -150px -100px no-repeat;}
.weather ul li i.nio-24{ background:url(../images/weather_icon.png) -200px -100px no-repeat;}
.weather ul li i.nio-25{ background:url(../images/weather_icon.png) -250px -100px no-repeat;}
.weather ul li i.nio-26{ background:url(../images/weather_icon.png) -300px -100px no-repeat;}
.weather ul li i.nio-27{ background:url(../images/weather_icon.png) -350px -100px no-repeat;}
.weather ul li i.nio-28{ background:url(../images/weather_icon.png) -400px -100px no-repeat;}
.weather ul li i.nio-29{ background:url(../images/weather_icon.png) -450px -100px no-repeat;}
.weather ul li i.nio-30{ background:url(../images/weather_icon.png) 0 -150px no-repeat;}
.weather ul li i.nio-31{ background:url(../images/weather_icon.png) -50px -150px no-repeat;}
.weather ul li i.nio-32{ background:url(../images/weather_icon.png) -100px -150px no-repeat;}
.weather ul li i.nio-33{ background:url(../images/weather_icon.png) -150px -150px no-repeat;}

.weather ul li.w_select i.nio-0{ background:url(../images/weather_icon.png) 0 -250px no-repeat;}
.weather ul li.w_select i.nio-1{ background:url(../images/weather_icon.png) -50px -250px no-repeat;}
.weather ul li.w_select i.nio-2{ background:url(../images/weather_icon.png) -100px -250px no-repeat;}
.weather ul li.w_select i.nio-3{ background:url(../images/weather_icon.png) -150px -250px no-repeat;}
.weather ul li.w_select i.nio-4{ background:url(../images/weather_icon.png) -200px -250px no-repeat;}
.weather ul li.w_select i.nio-5{ background:url(../images/weather_icon.png) -250px -250px no-repeat;}
.weather ul li.w_select i.nio-6{ background:url(../images/weather_icon.png) -300px -250px no-repeat;}
.weather ul li.w_select i.nio-7{ background:url(../images/weather_icon.png) -350px -250px no-repeat;}
.weather ul li.w_select i.nio-8{ background:url(../images/weather_icon.png) -400px -250px no-repeat;}
.weather ul li.w_select i.nio-9{ background:url(../images/weather_icon.png) -450px -250px no-repeat;}
.weather ul li.w_select i.nio-10{ background:url(../images/weather_icon.png) 0 -50px no-repeat;}
.weather ul li.w_select i.nio-11{ background:url(../images/weather_icon.png) -50px -300px no-repeat;}
.weather ul li.w_select i.nio-12{ background:url(../images/weather_icon.png) -100px -300px no-repeat;}
.weather ul li.w_select i.nio-13{ background:url(../images/weather_icon.png) -150px -300px no-repeat;}
.weather ul li.w_select i.nio-14{ background:url(../images/weather_icon.png) -200px -300px no-repeat;}
.weather ul li.w_select i.nio-15{ background:url(../images/weather_icon.png) -250px -300px no-repeat;}
.weather ul li.w_select i.nio-16{ background:url(../images/weather_icon.png) -300px -300px no-repeat;}
.weather ul li.w_select i.nio-17{ background:url(../images/weather_icon.png) -350px -300px no-repeat;}
.weather ul li.w_select i.nio-18{ background:url(../images/weather_icon.png) -400px -300px no-repeat;}
.weather ul li.w_select i.nio-19{ background:url(../images/weather_icon.png) -450px -300px no-repeat;}
.weather ul li.w_select i.nio-20{ background:url(../images/weather_icon.png) 0 -350px no-repeat;}
.weather ul li.w_select i.nio-21{ background:url(../images/weather_icon.png) -50px -350px no-repeat;}
.weather ul li.w_select i.nio-22{ background:url(../images/weather_icon.png) -100px -350px no-repeat;}
.weather ul li.w_select i.nio-23{ background:url(../images/weather_icon.png) -150px -350px no-repeat;}
.weather ul li.w_select i.nio-24{ background:url(../images/weather_icon.png) -200px -350px no-repeat;}
.weather ul li.w_select i.nio-25{ background:url(../images/weather_icon.png) -250px -350px no-repeat;}
.weather ul li.w_select i.nio-26{ background:url(../images/weather_icon.png) -300px -350px no-repeat;}
.weather ul li.w_select i.nio-27{ background:url(../images/weather_icon.png) -350px -350px no-repeat;}
.weather ul li.w_select i.nio-28{ background:url(../images/weather_icon.png) -400px -350px no-repeat;}
.weather ul li.w_select i.nio-29{ background:url(../images/weather_icon.png) -450px -350px no-repeat;}
.weather ul li.w_select i.nio-30{ background:url(../images/weather_icon.png) 0 -400px no-repeat;}
.weather ul li.w_select i.nio-31{ background:url(../images/weather_icon.png) -50px -400px no-repeat;}
.weather ul li.w_select i.nio-32{ background:url(../images/weather_icon.png) -100px -400px no-repeat;}
.weather ul li.w_select i.nio-33{ background:url(../images/weather_icon.png) -150px -400px no-repeat;}

.weather ul li.w_select a{ display:block; width:40px; height:40px; background:url(../images/w_select_close.png) 0 0 no-repeat; position:absolute; bottom:0;right:0;}
/*关闭天气按钮*/
.close_w_ts{ display:block; width:257px; height:200px; background:url(../images/close_w_ts.png) 0 0 no-repeat; position:relative; top:-165px; left:45px; z-index:301;}




.weather ul li p.w_t_1{ position:absolute; left:80px; top:12px; line-height:38px; font-size:38px;}
.weather ul li p.w_t_2{ position:absolute; left:125px; top:30px;}
.weather ul li p.w_t_week{ position:absolute; left:125px; top:15px;}
.weather ul li p.w_t_name{ position:absolute; left:82px; top:48px;}



.weather ul li.w_select{ background:url(../images/w_select_bg1.png) 0 0 repeat;}
.weather ul li.last{ background:none;}
.weather ul li.last.w_select{ background:url(../images/w_select_bg1.png) 0 0 repeat;}
.weather ul li.w_select p.w_t_1{ color:#FFF;}
.weather ul li.w_select p.w_t_2{ color:#FFF;}
.weather ul li.w_select p.w_t_week{ color:#FFF;}
.weather ul li.w_select p.w_t_name{ color:#FFF;}



/*分类*/
.dr_main_con_sub_nav{ width:950px; height:70px; background:url(../images/dr_main_con_sub_nav_bg.png) 0 0 no-repeat;}
.dr_main_con_sub_nav ul{ float:left; height:70px;}
.dr_main_con_sub_nav ul li{ display:block; float:left; height:70px; width:70px; background:url(../images/line2.png) right 0 no-repeat;}

/*分类1*/
.dr_main_con_sub_nav ul.rw_sub_nav li a{ display:block; height:70px; width:68px; margin:0 2px 0 0;}

.dr_main_con_sub_nav ul.rw_sub_nav li.rw_all a { background:url(../images/dr_main_con_sub_nav.png) 0 0 no-repeat;}
.dr_main_con_sub_nav ul.rw_sub_nav li.rw_nvzhuang a { background:url(../images/dr_main_con_sub_nav.png) -70px 0 no-repeat;}
.dr_main_con_sub_nav ul.rw_sub_nav li.rw_nanzhuang a { background:url(../images/dr_main_con_sub_nav.png) -140px 0 no-repeat;}
.dr_main_con_sub_nav ul.rw_sub_nav li.rw_tongzhuang a { background:url(../images/dr_main_con_sub_nav.png) -210px 0 no-repeat;}
.dr_main_con_sub_nav ul.rw_sub_nav li.rw_yinyouer a { background:url(../images/dr_main_con_sub_nav.png) -280px 0 no-repeat;}

.dr_main_con_sub_nav ul.rw_sub_nav li.rw_all a:hover { background:url(../images/dr_main_con_sub_nav.png) 0 -70px no-repeat;}
.dr_main_con_sub_nav ul.rw_sub_nav li.rw_nvzhuang a:hover { background:url(../images/dr_main_con_sub_nav.png) -70px -70px no-repeat;}
.dr_main_con_sub_nav ul.rw_sub_nav li.rw_nanzhuang a:hover { background:url(../images/dr_main_con_sub_nav.png) -140px -70px no-repeat;}
.dr_main_con_sub_nav ul.rw_sub_nav li.rw_tongzhuang a:hover { background:url(../images/dr_main_con_sub_nav.png) -210px -70px no-repeat;}
.dr_main_con_sub_nav ul.rw_sub_nav li.rw_yinyouer a:hover { background:url(../images/dr_main_con_sub_nav.png) -280px -70px no-repeat;}

.dr_main_con_sub_nav ul.rw_sub_nav li.rw_all a.select{ background:#fff url(../images/dr_main_con_sub_nav.png) -350px -70px no-repeat;}
.dr_main_con_sub_nav ul.rw_sub_nav li.rw_nvzhuang a.select{ background:#fff url(../images/dr_main_con_sub_nav.png) -70px -70px no-repeat;}
.dr_main_con_sub_nav ul.rw_sub_nav li.rw_nanzhuang a.select{ background:#fff url(../images/dr_main_con_sub_nav.png) -140px -70px no-repeat;}
.dr_main_con_sub_nav ul.rw_sub_nav li.rw_tongzhuang a.select{ background:#fff url(../images/dr_main_con_sub_nav.png) -210px -70px no-repeat;}
.dr_main_con_sub_nav ul.rw_sub_nav li.rw_yinyouer a.select{ background:#fff url(../images/dr_main_con_sub_nav.png) -280px -70px no-repeat;}

/*分类2*/
.dr_main_con_sub_nav ul.ch_sub_nav li{ width:106px;}
.dr_main_con_sub_nav ul.ch_sub_nav li.last{ background:none;}
.dr_main_con_sub_nav ul.ch_sub_nav li a{ display:block; float:left; width:104px; height:35px; margin:0 2px 0 0;}
.dr_main_con_sub_nav ul.ch_sub_nav li.ch_all{ width:70px;}
.dr_main_con_sub_nav ul.ch_sub_nav li.ch_all a{ display:block; height:70px; width:70px; margin:0 2px 0 0; background:url(../images/detail_main_con_sub_nav.png) -350px 0 no-repeat;}

.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_a_1{ background:url(../images/detail_main_con_sub_nav.png) -420px 0 no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_a_2{ background:url(../images/detail_main_con_sub_nav.png) -420px -35px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_b_1{ background:url(../images/detail_main_con_sub_nav.png) -528px 0 no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_b_2{ background:url(../images/detail_main_con_sub_nav.png) -528px -35px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_c_1{ background:url(../images/detail_main_con_sub_nav.png) -636px 0 no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_c_2{ background:url(../images/detail_main_con_sub_nav.png) -636px -35px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_d_1{ background:url(../images/detail_main_con_sub_nav.png) -744px 0 no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_d_2{ background:url(../images/detail_main_con_sub_nav.png) -744px -35px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_e_1{ background:url(../images/detail_main_con_sub_nav.png) -852px 0 no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_e_2{ background:url(../images/detail_main_con_sub_nav.png) -852px -35px no-repeat;}


.dr_main_con_sub_nav ul.ch_sub_nav li.ch_all a:hover { background:url(../images/detail_main_con_sub_nav.png) -350px -70px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_a_1:hover { background:url(../images/detail_main_con_sub_nav.png) -420px -70px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_a_2:hover { background:url(../images/detail_main_con_sub_nav.png) -420px -105px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_b_1:hover { background:url(../images/detail_main_con_sub_nav.png) -528px -70px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_b_2:hover { background:url(../images/detail_main_con_sub_nav.png) -528px -105px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_c_1:hover { background:url(../images/detail_main_con_sub_nav.png) -636px -70px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_c_2:hover { background:url(../images/detail_main_con_sub_nav.png) -636px -105px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_d_1:hover { background:url(../images/detail_main_con_sub_nav.png) -744px -70px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_d_2:hover { background:url(../images/detail_main_con_sub_nav.png) -744px -105px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_e_1:hover { background:url(../images/detail_main_con_sub_nav.png) -852px -70px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_e_2:hover { background:url(../images/detail_main_con_sub_nav.png) -852px -105px no-repeat;}

.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_a_1_0{ cursor: default;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);background:url(../images/detail_main_con_sub_nav.png) -420px 0 no-repeat;background-color: rgba(0,0,0,.5);}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_a_2_0{ cursor: default;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);background:url(../images/detail_main_con_sub_nav.png) -420px -35px no-repeat;background-color: rgba(0,0,0,.5);}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_b_1_0{ cursor: default;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);background:url(../images/detail_main_con_sub_nav.png) -528px 0 no-repeat;background-color: rgba(0,0,0,.5);}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_b_2_0{ cursor: default;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);background:url(../images/detail_main_con_sub_nav.png) -528px -35px no-repeat;background-color: rgba(0,0,0,.5);}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_c_1_0{ cursor: default;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);background:url(../images/detail_main_con_sub_nav.png) -636px 0 no-repeat;background-color: rgba(0,0,0,.5);}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_c_2_0{ cursor: default;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);background:url(../images/detail_main_con_sub_nav.png) -636px -35px no-repeat;background-color: rgba(0,0,0,.5);}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_d_1_0{ cursor: default;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);background:url(../images/detail_main_con_sub_nav.png) -744px 0 no-repeat;background-color: rgba(0,0,0,.5);}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_d_2_0{ cursor: default;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);background:url(../images/detail_main_con_sub_nav.png) -744px -35px no-repeat;background-color: rgba(0,0,0,.5);}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_e_1_0{ cursor: default;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);background:url(../images/detail_main_con_sub_nav.png) -852px 0 no-repeat;background-color: rgba(0,0,0,.5);}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_e_2_0{ cursor: default;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);background:url(../images/detail_main_con_sub_nav.png) -852px -35px no-repeat;background-color: rgba(0,0,0,.5);}


.dr_main_con_sub_nav ul.ch_sub_nav li.ch_all a.select { background:#fff url(../images/detail_main_con_sub_nav.png) -350px -70px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_a_1.select { background:#fff url(../images/detail_main_con_sub_nav.png) -420px -70px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_a_2.select { background:#fff url(../images/detail_main_con_sub_nav.png) -420px -105px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_b_1.select { background:#fff url(../images/detail_main_con_sub_nav.png) -528px -70px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_b_2.select { background:#fff url(../images/detail_main_con_sub_nav.png) -528px -105px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_c_1.select { background:#fff url(../images/detail_main_con_sub_nav.png) -636px -70px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_c_2.select { background:#fff url(../images/detail_main_con_sub_nav.png) -636px -105px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_d_1.select { background:#fff url(../images/detail_main_con_sub_nav.png) -744px -70px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_d_2.select { background:#fff url(../images/detail_main_con_sub_nav.png) -744px -105px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_e_1.select { background:#fff url(../images/detail_main_con_sub_nav.png) -852px -70px no-repeat;}
.dr_main_con_sub_nav ul.ch_sub_nav li a.ch_e_2.select { background:#fff url(../images/detail_main_con_sub_nav.png) -852px -105px no-repeat;}


/*优衣库推荐款式*/
.yyk_tj{ width:950px; height:auto; position:relative; margin-bottom:7px; overflow:hidden;}
.yyk_tj h3{ display:block; width:950px; height:58px; padding:12px 0 0 0; background:url(../images/dr_main_con_sub_nav_bg2.png) 0 0 repeat; text-align:center;}
.yyk_tj h3 p{ font-size:18px; font-weight:bold;margin-top:12px;}
.yyk_tj h3 span{ font-size:9px; font-weight:normal;}

.left_tj{ float:left; background:url(../images/dr_main_con_sub_nav_bg3.png) 0 0 repeat; width:91%; height:52px; padding:4px;}
.left_tj ul{ display:block; float:left; width:100%; height:52px; overflow:hidden;}
.left_tj ul li{ float:left; margin:0 1px 1px 0;}
.left_tj ul li a{ display:block; width:85px; height:26px; line-height:26px; background:url(../images/dr_main_con_sub_nav_bg4.png) 0 0 repeat; text-align:center; color:#999;}
.left_tj ul li a:hover{ background:#999; color:#FFF;}

.right_tj{ float:right; background:url(../images/dr_main_con_sub_nav_bg3.png) 0 0 repeat; width:466px; height:26px; padding:4px;}
.right_tj ul{ display:block; float:right; width:455px; height:26px; overflow:hidden;}
.right_tj ul li{ float:left; margin:0 1px 1px 0;}
.right_tj ul li a{ display:block; width:90px; height:26px; line-height:26px; background:url(../images/dr_main_con_sub_nav_bg4.png) 0 0 repeat; text-align:center; color:#999;}
.right_tj ul li a:hover{ background:#999; color:#FFF;}

.zk_btn a{ display:block; width:20px; height:20px; background:url(../images/zk_btn.png) 0 0 no-repeat; position:absolute; left:92.5%; margin-left:-4px; top:105px; z-index:9;}
.zk_btn a:hover{ background:url(../images/zk_btn.png) 0 -20px no-repeat; }

.zk_btn.upselect a{display:block; width:20px; height:20px; background:url(../images/zk_btn.png) -20px 0 no-repeat; position:absolute; left:92.5%; margin-left:-4px; top:105px; z-index:15;}
.zk_btn.upselect a:hover{ background:url(../images/zk_btn.png) -20px -20px no-repeat; }
.zk_btn .mleft{position: absolute; margin-left: 29px; font-weight: bold; color: rgb(0, 0, 0); font-size: 14px; top: 106px;}

.zk_btn2 a{ display:block; width:20px; height:20px; background:url(../images/zk_btn1.png) 0 0 no-repeat; position:absolute; left:92.5%; margin-left:-4px; top:78px; z-index:9;}
.zk_btn2 a:hover{ background:url(../images/zk_btn1.png) 0 -20px no-repeat; }

.zk_btn2.upselect a{display:block; width:20px; height:20px; background:url(../images/zk_btn1.png) -20px 0 no-repeat; position:absolute; left:92.5%; margin-left:-4px; top:78px; z-index:15;}
.zk_btn2.upselect a:hover{ background:url(../images/zk_btn1.png) -20px -20px no-repeat; }
.zk_btn2 .mrtop{position: absolute; margin-left: 29px; font-weight: bold; color: rgb(0, 0, 0); font-size: 14px; top: 78px;}
/*优衣库推荐款式-内容*/
.tj_wrapper { width:962px; margin:0 auto; overflow:hidden; }
.wrapper_box{ float:left; background:#FFF; width:228px; overflow:hidden; margin:0 6px 12px 6px; position:relative;}
.wrapper_box.banner_box img{ width:auto; height:auto; margin:0;}

.wrapper_box img{ display:block; width:200px; height:200px; margin:14px;}
.wrapper_box dl{ display:block; width:218px; margin:5px; overflow:hidden;}
.wrapper_box dl dt{ display:block; float:left;}
.wrapper_box dl dt a{ display:block; width:70px; height:32px; line-height:32px; background:#d0d0d0; color:#FFF;}
.wrapper_box dl dt a.tryon i{ display:block; float:left; width:20px; height:20px; background:url(../images/wrapper_box_main_btn.png) 0 0 no-repeat; margin:6px;}
.wrapper_box dl dt a.tryon:hover{ background:#ff0000;}
.wrapper_box dl dt a.tryon.select{ background:#ff0000;}

.wrapper_box dl dd{ float:right;}
.wrapper_box dl dd a{ display:block; float:left; width:54px; height:32px; line-height:32px; margin:0 1px 0 6px;}

.wrapper_box dl dd a.btn_xh i{ display:block; width:20px; height:20px; float:left; background:url(../images/wrapper_box_main_btn.png) 0 -20px; margin:6px 4px 6px 0;}
.wrapper_box dl dd a.btn_ym i{ display:block; width:20px; height:20px; float:left; background:url(../images/wrapper_box_main_btn.png) 0 -40px; margin:6px 4px 6px 0;}
.wrapper_box dl dd a.btn_xh:hover i{ background:url(../images/wrapper_box_main_btn.png) -20px -20px;}
.wrapper_box dl dd a.btn_ym:hover i{ background:url(../images/wrapper_box_main_btn.png) -20px -40px;}

.wrapper_box dl dd a.btn_xh.select{ color:#ff0000;}
.wrapper_box dl dd a.btn_ym.select{ color:#ff0000;}
.wrapper_box dl dd a.btn_xh.select i{ background:url(../images/wrapper_box_main_btn.png) -20px -20px;}
.wrapper_box dl dd a.btn_ym.select i{ background:url(../images/wrapper_box_main_btn.png) -20px -40px;}

.wrapper_box h3{ display:block; width:200px; height:auto; padding:10px 14px; font-weight:normal;}
.wrapper_box h3 a{ color:#FFF;}
.wrapper_box h3 a:hover{ color:#f5f5f5;}
.wrapper_box h3.h_orange{ background:#f19f49;}
.wrapper_box h3.h_blue{ background:#597798;}
.wrapper_box h3.h_pink{ background:#ea777a;}



.wrapper_box_btn_group{ background:#fff url(../images/line1.png) 113px 0 no-repeat;}

.wrapper_box_btn_group a.ysc_btn{ display:block; float:left; width:114px; height:50px; line-height:50px;}
.wrapper_box_btn_group a.ysc_btn i{ display:block; float:left; width:36px; height:36px; background:url(../images/wrapper_box_main_btn2.png) 0 0 no-repeat; margin:7px 12px;}
.wrapper_box_btn_group a.ysc_btn:hover i{ background:url(../images/wrapper_box_main_btn2.png) -36px 0 no-repeat;}
.wrapper_box_btn_group a.ysc_btn.select{ color:#ff0000; background:url(../images/wrapper_box_main_btn2.png) 78px -80px no-repeat;}
.wrapper_box_btn_group a.ysc_btn.select i{background:url(../images/wrapper_box_main_btn2.png) -36px 0 no-repeat;}

.wrapper_box_btn_group a.ygm_btn{ display:block; float:left; width:114px; height:50px; line-height:50px;}
.wrapper_box_btn_group a.ygm_btn i{ display:block; float:left; width:36px; height:36px; background:url(../images/wrapper_box_main_btn2.png) 0 -36px no-repeat; margin:7px 12px;}
.wrapper_box_btn_group a.ygm_btn:hover i{ background:url(../images/wrapper_box_main_btn2.png) -36px -36px no-repeat;}
.wrapper_box_btn_group a.ygm_btn.select{ color:#ff0000; background:url(../images/wrapper_box_main_btn2.png) 78px -80px no-repeat;}
.wrapper_box_btn_group a.ygm_btn.select i{background:url(../images/wrapper_box_main_btn2.png) -36px -36px no-repeat;}


.right_search{width:228px;height: 105px;}
.wrapper_box_search{ width:228px;height: 45px;}
.wrapper_box_search input{ float:left; width:160px; height:36px; line-height:36px; font-size:14px; border:none; background:#fff; margin:5px; padding-left:10px;}
.wrapper_box_search a{ display:block; float:right; width:36px; height:36px; background:url(../images/wrapper_box_main_btn2.png) 0 -164px no-repeat; margin:7px 7px 7px 0;}
.wrapper_box_search a:hover{ background:url(../images/wrapper_box_main_btn2.png) -36px -164px no-repeat;}


/*优衣库推荐款式-内容弹出*/
.product_inf{ position:absolute; top:15px; left:11px; width:206px; height:auto; overflow:hidden; text-align:center;color:#666; cursor:pointer;}
.product_inf .inf_top{ width:206px; height:6px; background:url(../images/product_inf_bg.png) 0 0 no-repeat;}

.product_inf .inf_con{ width:176px; height:auto; background:url(../images/product_inf_bg.png) 0 -6px repeat-y; padding:8px 15px; overflow:hidden;}
.product_inf .inf_con p.price{ font-size:26px; color:#ff0000;}
.product_inf .inf_con p.price span{ font-size:12px;}
.product_inf .inf_con p.stock{}
.product_inf .inf_con p.stock span{ color:#ff0000; margin:0 5px;}

.inf_xx{ width:176px; background:url(../images/line3.png) 0 top repeat-x; margin:15px 0 8px 0; padding-top:15px; text-align:left; line-height:20px;}

.product_inf .inf_bom{ width:206px; height:20px; background:url(../images/product_inf_bg.png) 0 -280px no-repeat; }
.product_inf .inf_bom a{ display:block; width:16px; height:16px; background:url(../images/drop_icon.png) 0 -16px no-repeat; margin:0 auto;}
.product_inf .inf_bom a.select{ display:block; width:16px; height:16px; background:url(../images/drop_icon.png) 0 0 no-repeat; margin:0 auto;}

/*优衣库推荐款式-颜色*/
.product_color{ background:#eee; padding:10px 8px; overflow:hidden;}
.product_color h5{ color:#666; font-weight:normal; text-align:center; margin-bottom:5px;}
.product_color ul li{ float:left; margin:4px 5px;}
.product_color img{ width:25px; height:25px; margin:0;}

/*优衣库推荐款式-男童女童选择*/
.product_gender{ background:#eee; padding:10px 8px; overflow:hidden;}
.product_gender h5{ color:#666; font-weight:normal; text-align:center; margin-bottom:5px;}
.product_gender ul li{ float:left; margin:4px 5px 4px 5px;}
.product_gender ul li a{ display:block; background:#a0a0a0; width:96px; height:30px; line-height:30px; text-align:center; color:#FFF;}
.product_gender ul li a:hover{ background:#900;}
.product_gender ul li a.select{ background:#900;}

/*优衣库推荐款式-更多*/
.product_more a{ display:block; width:950px; height:65px; background:url(../images/product_more.png) 0 0 no-repeat; margin:20px auto;}
.product_more a:hover{ background:url(../images/product_more.png) 0 -65px no-repeat;}




/*网站底部*/
.footer{ width:950px; background:url(../images/line3.png) 0 top repeat-x; margin:50px auto 0 auto;padding:20px 0;}
.footer p{ color:#333; text-align:center; line-height:22px;}




/*我的试衣间*/
.syj_btn{ width:64px; height:82px; position:fixed; top:50%; margin-top:-32px; right:10px; z-index:101;}
.syj_btn a.syj_btn_move{ display:block; position:absolute; width:32px; height:32px; background:url(../images/syj_btn.png) 0 0 no-repeat; z-index:110; left:50%; margin-left:-16px;}
.syj_btn a.syj_btn_move:hover{ background:url(../images/syj_btn.png) -32px 0 no-repeat;}
.syj_btn a.syj_btn_expansion{ display:block; position:absolute; top:16px; width:64px; height:64px; background:url(../images/syj_btn.png) 0 -32px no-repeat; z-index:105;}
.syj_btn a.syj_btn_expansion:hover{ background:url(../images/syj_btn.png) 0 -96px no-repeat; }

.syj_btn.select a.syj_btn_expansion{ background:url(../images/syj_btn.png) 0 -160px no-repeat;}
.syj_btn.select a.syj_btn_expansion:hover{ background:url(../images/syj_btn.png) 0 -224px no-repeat; }

.syj{ width:320px; height:540px; position:relative; top:-200px; border:1px solid #ff0000; left:-290px; background:#FFF; z-index:100;overflow: hidden;}
.syj .baiyi_syj{ width:400px; height:520px;position: relative;top:-30px;margin-left: -33px;}
.syj .baiyi_syj .beubeu_copy2{left:70px;}
.btn_line{ width:474px; height:42px; position:absolute; bottom:0;}
.btn_line a{  float:left; height:42px; line-height:42px;}
.btn_line a.buy_btn{ width:122px; background:#ff0000; color:#FFF; font-size:14px;}
.btn_line a.buy_btn i{ display:block; float:left; width:28px; height:29px; background:url(../images/buy_icon.png) 0 0 no-repeat; margin:7px 10px 0 10px;}
.btn_line a.buy_btn:hover{ background:#900;}
.btn_line a.sc_btn{ width:102px; background:#a1a1a1; color:#FFF; text-align:center;}
.btn_line a.sc_btn:hover{ background:#999;}
.btn_line a.bc_btn{  width:105px; background:#d1d1d1; color:#FFF; text-align:center;
    cursor: default;}
.buy_btns{ left:0px; bottom:42px; z-index:999; position: absolute;}
.buy_btns .buyurl {cursor: pointer; line-height: 15px;background:#fff;color:#666;padding: 5px 5px 5px 5px;}
.buy_btns ul li a{ display:block; background:#fff; border-top:1px solid #eee; height:35px; line-height:35px; padding:0px 5px 0px 5px; color:#666;}
.buy_btns ul li a:hover{ background:#666; color:#FFF;}

.mini-cab-share2{ float:left; margin:2px 0 0 6px; color:#666;padding-top: 6px;}
.mini-cab-share2 span{ line-height:20px;}

.baby_fitting_room {width: 300px;height: 480px; margin: 10px;position: relative;left:30px;}
.baby_fitting_room .tops_bottoms {position: relative;left: 25px;top: 48px;}
.baby_fitting_room .bottoms {position: absolute;left: 25px;top: 239px;}
.baby_fitting_room .single{position: relative;left:25px;top: 136px;}
.baby_fitting_room img {height: 200px;width: 200px;}

/*== 选择城市弹窗 ==*/
.map_light_box{ width:760px;  background:#FFF; position:absolute; top:100px; left:50%; margin-left:-400px; z-index:980; padding:20px;}
a.light_box_close{ display:block; background:url(../images/close2.png) 0 0 no-repeat; width:41px; height:41px; position:absolute; right:-15px; top:-15px;}
.map_light_box h3{ font-size:20px; color:#999; line-height:60px; font-weight:normal;}
.light_box_u_map_con{ float:left; background:#555; width:760px; height:405px;}

.xuanze{ }
.select_city{ position:relative; float:left; margin:0 10px 15px 0;}
.select_city dt{ height:34px; display:inline-block; border:1px solid #ff0000; background:#fff url(../images/qiehuan.png) right 0 no-repeat; line-height:34px; font-weight:bold; padding-left:10px; cursor:pointer; width:250px;padding-right:12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;position:relative;z-index:99;color:#666; font-weight:normal;}
.select_city dt:hover,.select dt.cur{border:1px solid #ff0000;box-shadow:0 0 3px #ff0000; }
.select_city dd{ position:absolute;left:0;top:35px; border:1px solid #d66f77; background:#fff; display:none;z-index:999;}
.select_city dd ul{ padding:4px; width:264px; max-height:250px; overflow:auto; background:#faf4f5;}
.select_city dd ul li a{ line-height:28px; display:block; padding:5px 8px;}
.select_city dd ul li a:hover{}
/*kimi*/
.mini-city{background-color: #fff;width: 342px;height: 21px;top: 18px;left: 346px;color: #555;padding: 5px 12px;border: 3px solid #ccc;z-index:100;}
.mini-city input {background: none repeat scroll 0 0 #FF0000;border: 0 none;color: #FFFFFF;cursor: pointer;padding: 2px 5px;}
.pa{position: absolute;}
.mini-city-close{width: 8px;height: 8px;right: 10px;top: 11px;background: url(../images/mini/mini-btn.png) -33px -57px no-repeat;position: absolute;}
.mini-city select {border: 1px solid #ABADB3;height: 20px;margin-left: 5px;margin-right: 15px;width: 95px;}
.index-suit{height: 180px;padding: 100px 0;}
/* 衣服*/
.mini-kv-slide{ width:926px; height:184px; background:url(../images/dr_main_con_yf_bg.png) 0 0 no-repeat; margin:100px auto; position:relative;}
.mini-kv-container{ width:812px; height:180px; overflow:hidden; position:relative; margin:0 auto;}
.mini-kv-container ul{ width: 9999em; height:180px; position:relative;}
.mini-kv-container ul li{ float:left; margin:3px 10px;}
.mini-kv-container ul li img{ width:180px; height:180px;}

.mini-kv-slide a.mini-btn{ display:block; width:8px; height:13px; position:absolute; top:50%; margin-top:-6px; text-indent:200%; overflow:hidden; white-space:nowrap;}
.mini-kv-slide a.mini-kv-prev{ background:url(../images/mini-kv-btn.png) 0 0 no-repeat; left:10px;}
.mini-kv-slide a.mini-kv-next{ background:url(../images/mini-kv-btn.png) -8px 0 no-repeat; right:10px;}
.mini-kv-slide a.mini-kv-prev:hover{ background:url(../images/mini-kv-btn.png) 0 -13px no-repeat; left:10px;}
.mini-kv-slide a.mini-kv-next:hover{ background:url(../images/mini-kv-btn.png) -8px -13px no-repeat; right:10px;}
.mini-kv-hover,.mini-kv-add{
    /*background: url(../images/mini-kv-hover.png) no-repeat;*/
}
.mini-kv-hover{width: 186px;height: 166px;padding: 25px 15px;top: 0;}
.mini-kv-content{ position: absolute;top: 20px;left: 10px;width: 186px;height: 166px;}
.alpha{filter:alpha(opacity=70);opacity: 0.8; top: -20px;left: -17px;position: relative;}
/*设置图片透明*/
.mini-kv-hover strong{ font-size: 30px;}
.mini-kv-hover small{color: #000000;}
.mini-kv-hover span{color: red;font: bold;}
a.mini-kv-add{width: 74px;height: 26px;top: 134px;left: 58px;display: block;color: #e70012;line-height: 25px;background-color:#ffa800 ;color: #fff;font-weight: bold;}
.mini-kv-hover a.ft14{display: block; margin-top: 15px; height: 40px;color: #000;line-height: 20px;overflow: hidden;}

/*个人中心*/
.user_center{ width:100%; height:750px; background: url(../images/user_center_bg.jpg) center top no-repeat ; position:absolute; top:116px; left:0; z-index:10;}

.user_center_title{ width:200px; text-align:center; position:absolute; top:35px; left:50%; margin-left:-100px; z-index:10;}
.user_center_title h2{ font-size:26px; color:#676767; font-weight:normal;}
.user_center_title h2 span{ color:#F00; margin-right:5px;}
.user_center_title a.change_yf{ display:block; width:120px; height:30px; line-height:30px; margin:7px auto; background:#ff0000; color:#FFF; font-size:14px;}
.user_center_title a.change_yf:hover{ background:#900;}
.user_center_title p{  color:#F00;}

.user_center_con{ width:960px; margin:0 auto;}
.user_center_con .model{ float:left; width:240px; height:550px; margin:100px 0 0 0; position:relative;}
.user_center_con .model ul{ display:block; width:54px; position:absolute; bottom:50px; right:0;}
.user_center_con .model ul li{ float:left; display:block; width:54px; height:54px; background:url(../images/model_bg.png) 0 0 no-repeat;}
.user_center_con .model ul li a img{ width:50px; margin:2px;}


.user_center .user_center_btn{ float:left; height:100px; width:100%; background:url(../images/dr_main_con_sub_nav_bg.png) 0 0 repeat;position:fixed;top:87%;}
.user_center .user_center_btn ul{ display:block; width:950px; height:100px;  margin:0 auto; background:#fff;}
.user_center .user_center_btn ul li{ display:block; float:left; width:160px; height:100px; border-right:1px solid #eee; color:#333;}
.user_center .user_center_btn ul li a{ display:block; width:160px; text-align:center;}
.user_center .user_center_btn ul li.center_btn6 { width:144px; border-right:none;}
.user_center .user_center_btn ul li.center_btn6 a{ width:144px;}

.user_center .user_center_btn ul li a span{ display:block; width:50px; height:50px; margin:12px auto 8px auto;}
.user_center .user_center_btn ul li.center_btn1 a span{ background:url(../images/user_center_icon.png) 0 0 no-repeat;}
.user_center .user_center_btn ul li.center_btn2 a span{ background:url(../images/user_center_icon.png) 0 -50px no-repeat;}
.user_center .user_center_btn ul li.center_btn3 a span{ background:url(../images/user_center_icon.png) 0 -100px no-repeat;}
.user_center .user_center_btn ul li.center_btn4 a span{ background:url(../images/user_center_icon.png) 0 -150px no-repeat;}
.user_center .user_center_btn ul li.center_btn5 a span{ background:url(../images/user_center_icon.png) 0 -200px no-repeat;}
.user_center .user_center_btn ul li.center_btn6 a span{ background:url(../images/user_center_icon.png) 0 -250px no-repeat;}

.user_center .user_center_btn ul li.center_btn1 a:hover span{ background:url(../images/user_center_icon.png) -50px 0 no-repeat;}
.user_center .user_center_btn ul li.center_btn2 a:hover span{ background:url(../images/user_center_icon.png) -50px -50px no-repeat;}
.user_center .user_center_btn ul li.center_btn3 a:hover span{ background:url(../images/user_center_icon.png) -50px -100px no-repeat;}
.user_center .user_center_btn ul li.center_btn4 a:hover span{ background:url(../images/user_center_icon.png) -50px -150px no-repeat;}
.user_center .user_center_btn ul li.center_btn5 a:hover span{ background:url(../images/user_center_icon.png) -50px -200px no-repeat;}
.user_center .user_center_btn ul li.center_btn6 a:hover span{ background:url(../images/user_center_icon.png) -50px -250px no-repeat;}

.user_center .user_center_btn ul li.select{ background:#F00;}
.user_center .user_center_btn ul li.select a{ color:#FFF;}
.user_center .user_center_btn ul li.center_btn1.select a:hover span{ background:url(../images/user_center_icon.png) 0 0 no-repeat;}
.user_center .user_center_btn ul li.center_btn2.select a:hover span{ background:url(../images/user_center_icon.png) 0 -50px no-repeat;}
.user_center .user_center_btn ul li.center_btn3.select a:hover span{ background:url(../images/user_center_icon.png) 0 -100px no-repeat;}
.user_center .user_center_btn ul li.center_btn4.select a:hover span{ background:url(../images/user_center_icon.png) 0 -150px no-repeat;}
.user_center .user_center_btn ul li.center_btn5.select a:hover span{ background:url(../images/user_center_icon.png) 0 -200px no-repeat;}
.user_center .user_center_btn ul li.center_btn6.select a:hover span{ background:url(../images/user_center_icon.png) 0 -250px no-repeat;}

.youhui{ width:240px; height:60px; position:absolute; right:15px; top:15px;}
.youhui a.youhui_icon{ display:block; width:68px; height:60px; background:url(../images/youhui_icon.png) 0 0 no-repeat; position:absolute;right:0; top:0;}
.youhui a.youhui_icon_block{  position:absolute;right:0; top:0;display:block; width:68px; height:60px; cursor: default;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);background:url(../images/youhui_icon.png) 0 0 no-repeat;background-color: rgba(0,0,0,.5);}
.youhui p{ display:block; width:122px; height:36px; background:#FFF; padding:12px 88px 12px 20px; color:#666;}
.youhui p a{ color:#F00; margin:0 5px;}