@charset "utf-8";
/*- Html Tags Reset -*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure {padding:0; margin:0;}
body{ font:normal 100% Tahoma,"微软雅黑",Arial,Helvetica,simsun,sans-serif; background-color:#eee; color:#fff; font-size:62.5% }
abbr,article,aside,bb,datagrid,datalist,details,dialog,event-source,figure,figcaption,footer,header,mark,menu,meter,nav,output,progress,section,time {display: block; height:auto; }
table{border-collapse:collapse; border-spacing:0; }
ol, ul{list-style:none outside; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
fieldset, img{border:0 none; vertical-align:middle; }
a{color:#333; text-decoration:none; }
a:hover{color:#ff0000; text-decoration:none; }
em{font-style:normal; }
input, textarea{padding:2px; }
textarea{overflow-y:auto; }
input,select,textarea {font:12px Arial,Tahoma,simsun; }
button{overflow:visible; padding:0;vertical-align:middle; }
button,label{cursor:pointer; }
.clearfix:after{content:"."; height:0; visibility:hidden; display:block; clear:both; font-size:0; line-height:0;}
.clearfix{*zoom:1;}
.none {display: none;}

/*头部*/
.header{ width:100%; height:11.5em; background:#FFF;}

.header_inf{ width:100%; height:8.2em;}
.header_inf table tr th{ height:8.2em; width:13.5em; border-right:0.1em solid #eee; padding:0 0 0 1.5em;}
.header_inf table tr th a{ display:block; float:left; width:12em; height:4.4em;}
.header_inf table tr th a img{width:100%;}

.header_inf table tr td.city_inf{ height:4.8em; border-bottom:0.1em solid #eee; padding:0 0 0 1.5em;}
.header_inf table tr td.city_inf .city_name{ float:left; margin-right:1em;}
.header_inf table tr td.city_inf a{ display:block; float:left; font-size:1.2em; height:2.6em; line-height:2.8em; padding:0 1.1em; background:#FF0000; color:#FFF;}


/*头部-信息*/
.dr_city{ height:4em; border-bottom:0.1em solid #eee; padding:0.9em 0 0 1.25em;}


.city_name h2{ font-size:1.4em; line-height:1.5em; font-weight:normal; color:#333;}
.city_name span{ font-size:0.9em; color:#a1a1a1; font-family:Arial, Helvetica, sans-serif;}

.dr_city a.change_city{ display:block; float:left; width:6.5em; height:2.5em; line-height:2.5em; background:#FF0000; color:#FFF; text-align:center;}

.near_un{ height:2em; line-height:2.2em; padding:0 0 0 1.5em;}
.near_un i{ display:block; float:left; width:2em; height:2em; background:url(../images/near_shop_icon.png) 0 0 no-repeat; background-size:2em 2em; margin:0 0.5em 0 0;}


/*头部-链接入口*/
.header_bot{ width:100%; height:3.4em; line-height:3.4em; background:#F00;}

.header_bot .login_after{ float:left; padding:0 0.5em;}
.header_bot .login_after a{ float:left; display:block; height:2.7em; line-height:2.8em; color:#F00; background:#FFF; margin:0.3em 0.5em 0.3em 0; padding:0 1em;}

.header_bot .login p{ float:left; margin:0 0.5em;}
.header_bot .login a{ float:left; display:block; height:2.7em; line-height:2.8em; color:#F00; margin:0.3em 0.2em 0.3em 0; padding:0 0.3em; color:#ddd;}

.header_bot a.tmail{ float:right; color:#FFF; margin:0 0.5em 0 0;}
.header_bot a.tmail i{ display:block; float:left; width:1.1em; height:1.1em; background:url(../images/tmall_icon.png) 0 0 no-repeat; background-size:1.1em 1.1em; margin:1.1em 0.5em;}
.header_bot a.tmail2{ float:right; color:#FFF; margin:0 0.5em 0 0;}
.header_bot a.tmail2 i{ display:block; float:left; width:1.1em; height:1.1em;border: 1px solid #fe7f7f; background:url(../images/18543588712819864175.png) 0 0 no-repeat; background-size:1.1em 1.1em; margin:1.1em 0.5em;}


/*我的优衣柜*/
.my_yyg{ width:100%; height:42.8em; position:relative;}
.my_yyg.changjing0{ background:url(../images/my_yyg_bg0.jpg) center 0 no-repeat; background-size:auto 42.8em;}
.my_yyg.changjing1{ background:url(../images/my_yyg_bg1.jpg) center 0 no-repeat; background-size:auto 42.8em;}
.my_yyg.changjing2{ background:url(../images/my_yyg_bg2.jpg) center 0 no-repeat; background-size:auto 42.8em;}
.my_yyg.changjing3{ background:url(../images/my_yyg_bg3.jpg) center 0 no-repeat; background-size:auto 42.8em;}
.my_yyg.changjing4{ background:url(../images/my_yyg_bg4.jpg) center 0 no-repeat; background-size:auto 42.8em;}


/*我的优衣柜- 模特*/
.my_yyg_model{ width:26em; margin:0 auto;}
.model{ float:left; width:15.7em; height:36em; margin:0.8em -1.5em 0 -1.5em; position:relative;}
.model img{ width:27em; height:36em;left:50%;margin-left:-13em;position:absolute}
.change{ display:block; width:6em; height:6em; background:url(../images/change_icon.png) 0 0 no-repeat; background-size:6em 6em; position:relative; top:34em; left:50%; margin-left:-3em;}


/*左侧分类导航*/

.detail_sub_nav_main{ position:absolute; left:0; top:0.5em;}
.detail_sub_nav_main a.expansion2{ width:3em; height:6em; position:absolute; top:15em; left:5em; background:url(../images/sq2.png) 0 0 no-repeat; background-size:3em 6em;}

.detail_sub_nav{ height:36em; width:5em; overflow:hidden;}
.detail_sub_nav ul{ display:block; width:5em;}

.detail_sub_nav ul li{ width:5em; background:url(../images/detail_sub_nav_bg.png) 0 0 repeat;}
.detail_sub_nav ul li a{ display:block; width:5em; height:2.5em; margin:0 0 1px 0; }
.detail_sub_nav ul li.big_btn a{ height:5em;}

.detail_sub_nav ul li a.detail_sub_btn1{ background:url(../images/detail_sub_nav.png) 0 0 no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn2{ background:url(../images/detail_sub_nav.png) 0 -5em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn3{ background:url(../images/detail_sub_nav.png) 0 -10em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn4{ background:url(../images/detail_sub_nav.png) 0 -15em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn5{ background:url(../images/detail_sub_nav.png) 0 -20em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn6{ background:url(../images/detail_sub_nav.png) 0 -22.4em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn7{ background:url(../images/detail_sub_nav.png) 0 -24.9em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn8{ background:url(../images/detail_sub_nav.png) 0 -27.3em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn9{ background:url(../images/detail_sub_nav.png) 0 -29.7em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn10{ background:url(../images/detail_sub_nav.png) 0 -32.2em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn11{ background:url(../images/detail_sub_nav.png) 0 -34.6em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn12{ background:url(../images/detail_sub_nav.png) 0 -37.1em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn13{ background:url(../images/detail_sub_nav.png) 0 -39.5em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn14{ background:url(../images/detail_sub_nav.png) 0 -42em no-repeat; background-size:15em 44.28em;}

.detail_sub_nav ul li a.detail_sub_btn1.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em 0 no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn2.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -5em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn3.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -10em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn4.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -15em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn5.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -20em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn6.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -22.4em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn7.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -24.9em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn8.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -27.3em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn9.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -29.7em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn10.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -32.2em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn11.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -34.6em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn12.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -37.1em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn13.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -39.5em no-repeat; background-size:15em 44.28em;}
.detail_sub_nav ul li a.detail_sub_btn14.select{ background:#ff0000 url(../images/detail_sub_nav.png) -10em -42em no-repeat; background-size:15em 44.28em;}






/*主体内容*/
.main_con{ width:100%; height:300em; position:relative;}

.main_con.water1{ background:#d4eef5 url(../images/detail_main_con_bg1.jpg) center 0 no-repeat;}
.main_con.water1 li.w_select{ background:#4165c2;}
.main_con.water1 .yyk_tj h3{ color:#4165c2;}
.main_con.water1 li a.w_select{ background:#4165c2; color:#FFF;}

.main_con.water2{ background:#b4d4e8 url(../images/detail_main_con_bg2.jpg) center 0 no-repeat;}
.main_con.water2 li.w_select{ background:#1c6397;}
.main_con.water2 .yyk_tj h3{ color:#1c6397;}
.main_con.water2 li a.w_select{ background:#1c6397; color:#FFF;}

.main_con.water3{ background:#9ccfff url(../images/detail_main_con_bg3.jpg) center 0 no-repeat;}
.main_con.water3 li.w_select{ background:#1c2757;}
.main_con.water3 .yyk_tj h3{ color:#1c2757;}
.main_con.water3 li a.w_select{ background:#1c2757; color:#FFF;}

.main_con.water4{ background:#dbe2db url(../images/detail_main_con_bg4.jpg) center 0 no-repeat;}
.main_con.water4 li.w_select{ background:#1a1c27;}
.main_con.water4 .yyk_tj h3{ color:#1a1c27;}
.main_con.water4 li a.w_select{ background:#1a1c27; color:#FFF;}

.main_con.water5{ background:#d4e5fe url(../images/detail_main_con_bg5.jpg) center 0 no-repeat;}
.main_con.water5 li.w_select{ background:#6a7786;}
.main_con.water5 .yyk_tj h3{ color:#6a7786;}
.main_con.water5 li a.w_select{ background:#6a7786; color:#FFF;}

.main_con.water6{ background:#ccd4db url(../images/detail_main_con_bg6.jpg) center 0 no-repeat;}
.main_con.water6 li.w_select{ background:#1C6397;}
.main_con.water6 .yyk_tj h3{ color:#636875;}
.main_con.water6 li a.w_select{ background:#636875; color:#FFF;}


.filters{ width:100%;}



/*天气*/
.weather{ float:left; width:100%; height:8.1em; background:url(../images/weather_bg.png) 0 repeat; position:relative; overflow:hidden;}

.weather ul { width:300em; height:8.1em; display:block; float:left; position:relative; margin:0 2.5em;}
.weather ul li{ float:left; height:8.1em; width:13.6em; background:url(../images/line2.png) right 0 no-repeat ; color:#3c3c3c;  position:relative;}
.weather ul li i{ display:block; float:left; width:5.5em; height:5.5em; position:absolute; top:1.2em; left:0.2em;
-moz-transform:scale(0.8,0.8);  
-webkit-transform:scale(0.8,0.8);  
-o-transform:scale(0.8,0.8);  }

.weather a.left_btn{ position:absolute; display:block; background:#F00; width:2.5em; height:8.1em; line-height:8.1em; left:0; top:0; text-align:center; color:#FFF; font-weight:bold;}
.weather a.right_btn{ position:absolute; display:block; background:#F00; width:2.5em; height:8.1em; line-height:8.1em; right:0; top:0; text-align:center; color:#FFF; font-weight:bold;}

.weather ul li i.nio-0{ background:url(../images/weather_icon.png) 0 0 no-repeat; background-size:55em 55em;}
.weather ul li i.nio-1{ background:url(../images/weather_icon.png) -5.5em 0 no-repeat; background-size:55em 55em;}
.weather ul li i.nio-2{ background:url(../images/weather_icon.png) -11em 0 no-repeat; background-size:55em 55em;}
.weather ul li i.nio-3{ background:url(../images/weather_icon.png) -16.5em 0 no-repeat; background-size:55em 55em;}
.weather ul li i.nio-4{ background:url(../images/weather_icon.png) -22em 0 no-repeat; background-size:55em 55em;}
.weather ul li i.nio-5{ background:url(../images/weather_icon.png) -27.5em 0 no-repeat; background-size:55em 55em;}
.weather ul li i.nio-6{ background:url(../images/weather_icon.png) -33em 0 no-repeat; background-size:55em 55em;}
.weather ul li i.nio-7{ background:url(../images/weather_icon.png) -38.5em 0 no-repeat; background-size:55em 55em;}
.weather ul li i.nio-8{ background:url(../images/weather_icon.png) -44em 0 no-repeat; background-size:55em 55em;}
.weather ul li i.nio-9{ background:url(../images/weather_icon.png) -49.5em 0 no-repeat; background-size:55em 55em;}
.weather ul li i.nio-10{ background:url(../images/weather_icon.png) 0 -50px no-repeat; background-size:55em 55em;}
.weather ul li i.nio-11{ background:url(../images/weather_icon.png) -5.5em -5.5em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-12{ background:url(../images/weather_icon.png) -11em -5.5em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-13{ background:url(../images/weather_icon.png) -16.5em -5.5em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-14{ background:url(../images/weather_icon.png) -22em  -5.5em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-15{ background:url(../images/weather_icon.png) -27.5em  -5.5em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-16{ background:url(../images/weather_icon.png) -33em  -5.5em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-17{ background:url(../images/weather_icon.png) -38.5em  -5.5em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-18{ background:url(../images/weather_icon.png) -44em  -5.5em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-19{ background:url(../images/weather_icon.png) -49.5em  -5.5em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-20{ background:url(../images/weather_icon.png) 0 -100px no-repeat; background-size:55em 55em;}
.weather ul li i.nio-21{ background:url(../images/weather_icon.png) -5.5em -100px no-repeat; background-size:55em 55em;}
.weather ul li i.nio-22{ background:url(../images/weather_icon.png) -11em -11em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-23{ background:url(../images/weather_icon.png) -16.5em -11em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-24{ background:url(../images/weather_icon.png) -22em -11em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-25{ background:url(../images/weather_icon.png) -27.5em -11em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-26{ background:url(../images/weather_icon.png) -33em -11em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-27{ background:url(../images/weather_icon.png) -38.5em -11em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-28{ background:url(../images/weather_icon.png) -44em -11em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-29{ background:url(../images/weather_icon.png) -49.5em -11em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-30{ background:url(../images/weather_icon.png) 0 -16.5em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-31{ background:url(../images/weather_icon.png) -5.5em -16.5em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-32{ background:url(../images/weather_icon.png) -11em -16.5em no-repeat; background-size:55em 55em;}
.weather ul li i.nio-33{ background:url(../images/weather_icon.png) -16.5em -16.5em no-repeat; background-size:55em 55em;}

.weather ul li.w_select i.nio-0{ background:url(../images/weather_icon.png) 0 -27.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-1{ background:url(../images/weather_icon.png) -5.5em -27.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-2{ background:url(../images/weather_icon.png) -11em -27.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-3{ background:url(../images/weather_icon.png) -16.5em -27.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-4{ background:url(../images/weather_icon.png) -22em -27.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-5{ background:url(../images/weather_icon.png) -27.5em -27.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-6{ background:url(../images/weather_icon.png) -33em -27.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-7{ background:url(../images/weather_icon.png) -38.5em -27.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-8{ background:url(../images/weather_icon.png) -44 -27.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-9{ background:url(../images/weather_icon.png) -49.5 -27.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-10{ background:url(../images/weather_icon.png) 0 -33em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-11{ background:url(../images/weather_icon.png) -5.5em -33em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-12{ background:url(../images/weather_icon.png) -11em -33em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-13{ background:url(../images/weather_icon.png) -16.5em -33em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-14{ background:url(../images/weather_icon.png) -22em -33em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-15{ background:url(../images/weather_icon.png) -27.5em -33em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-16{ background:url(../images/weather_icon.png) -33em -33em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-17{ background:url(../images/weather_icon.png) -38.5em -33em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-18{ background:url(../images/weather_icon.png) -44em -33em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-19{ background:url(../images/weather_icon.png) -49.5em -33em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-20{ background:url(../images/weather_icon.png) 0 -38.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-21{ background:url(../images/weather_icon.png) -5.5em -38.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-22{ background:url(../images/weather_icon.png) -11em -38.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-23{ background:url(../images/weather_icon.png) -16.5em -38.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-24{ background:url(../images/weather_icon.png) -22em -38.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-25{ background:url(../images/weather_icon.png) -27.5em -38.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-26{ background:url(../images/weather_icon.png) -33em -38.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-27{ background:url(../images/weather_icon.png) -38.5em -38.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-28{ background:url(../images/weather_icon.png) -44em -38.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-29{ background:url(../images/weather_icon.png) -49.5em -38.5em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-30{ background:url(../images/weather_icon.png) 0 -44em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-31{ background:url(../images/weather_icon.png) -5.5em -44em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-32{ background:url(../images/weather_icon.png) -11em -44em no-repeat; background-size:55em 55em;}
.weather ul li.w_select i.nio-33{ background:url(../images/weather_icon.png) -16.5em -44em no-repeat; background-size:55em 55em;}




.weather ul li p.w_t_1{ position:absolute; left:1.58em; top:0.45em; font-size:3.4em;}
.weather ul li p.w_t_2{ position:absolute; left:9.5em; top:3.6em;}
.weather ul li p.w_t_week{ position:absolute; left:9.5em; top:2.15em;}
.weather ul li p.w_t_name{ position:absolute; left:5.5em; top:5em;}

.weather ul li.w_select{ background:url(../images/w_select_bg1.png) 0 0 repeat;}
.weather ul li.last{ background:none;}
.weather ul li.last.w_select{ background:url(../images/w_select_bg1.png) 0 0 repeat;}
.weather ul li.w_select p.w_t_1{ color:#FFF;}
.weather ul li.w_select p.w_t_2{ color:#FFF;}
.weather ul li.w_select p.w_t_week{ color:#FFF;}
.weather ul li.w_select p.w_t_name{ color:#FFF;}
/*分类*/
.dr_main_con_sub_nav{ float:left; width:100%; height:7.5em; background:url(../images/dr_main_con_sub_nav_bg.png) 0 repeat;}
.dr_main_con_sub_nav ul{ display:block; height:7.5em; margin:0 auto;}
.dr_main_con_sub_nav ul li{ display:block; float:left; height:7.5em; width:20%; background:url(../images/line2.png) right 0 no-repeat;}
.dr_main_con_sub_nav ul li a{ display:block; width:6.8em; height:6.8em; background:#F00; margin:0 auto; }
.dr_main_con_sub_nav ul li.rw_all a{ background:url(../images/detail_main_con_sub_nav.png) 0 0 no-repeat; background-size:96em 14em;}
.dr_main_con_sub_nav ul li.rw_nvzhuang a{ background:url(../images/detail_main_con_sub_nav.png) -7em 0 no-repeat; background-size:96em 14em;}
.dr_main_con_sub_nav ul li.rw_nanzhuang a{ background:url(../images/detail_main_con_sub_nav.png) -14em 0 no-repeat; background-size:96em 14em;}
.dr_main_con_sub_nav ul li.rw_tongzhuang a{ background:url(../images/detail_main_con_sub_nav.png) -21em 0 no-repeat; background-size:96em 14em;}
.dr_main_con_sub_nav ul li.rw_yinyouer a{ background:url(../images/detail_main_con_sub_nav.png) -28em 0 no-repeat; background-size:96em 14em;}

.dr_main_con_sub_nav ul li.rw_select{ background:#FFF;}
.dr_main_con_sub_nav ul li.rw_all.rw_select a{ background:url(../images/detail_main_con_sub_nav.png) 0 -7em no-repeat; background-size:96em 14em;}
.dr_main_con_sub_nav ul li.rw_nvzhuang.rw_select a{ background:url(../images/detail_main_con_sub_nav.png) -7em -7em no-repeat; background-size:96em 14em;}
.dr_main_con_sub_nav ul li.rw_nanzhuang.rw_select a{ background:url(../images/detail_main_con_sub_nav.png) -14em -7em no-repeat; background-size:96em 14em;}
.dr_main_con_sub_nav ul li.rw_tongzhuang.rw_select a{ background:url(../images/detail_main_con_sub_nav.png) -21em -7em no-repeat; background-size:96em 14em;}
.dr_main_con_sub_nav ul li.rw_yinyouer.rw_select a{ background:url(../images/detail_main_con_sub_nav.png) -28em -7em no-repeat; background-size:96em 14em;}


/*分类2*/
.style_btn_group{ float:left; width:100%; background:#FFF;}
.style_btn_group a{ display:block; float:left; width:49.9%; height:2.6em; border-right:0.1em solid #eee; text-align:center; font-size:1.6em; line-height:1.2em; padding:0.8em 0 0 0;}
.style_btn_group a span{ font-size:0.6em; line-height:0.8em; color:#999;}
.style_btn_group a.style_select{ background:#f00; color:#FFF;}
.style_btn_group a.style_select span{ color:#FFF;}


.style_btn_group_detail{ background-color: #FFFFFF;position: absolute;width:100%;top: 7.01%;z-index: 11;}
.style_btn_group_detail ul li{ float:left; width:50%; border-bottom:1px solid #ddd; background:#FFF url(../images/line1.png) right 0 repeat-y; opacity:0.6;}
.style_btn_group_detail ul li a{ display:block; font-size:1.2em; height:4em; line-height:4em; text-align:center; position:relative;width:100%;}
.style_btn_group_detail ul li a i{ display:block; float:left; width:2em; height:2em; position:absolute; left:50%; top:1em; margin-left:-2.5em;}

.style_btn_group_detail ul li.a1 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 0 no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a2 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -2em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a3 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -4em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a4 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -6em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a5 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -8em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a6 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -10em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a7 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -12em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a8 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -14em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a9 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -16em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a10 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -18em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a11 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -20em no-repeat; background-size:4em 22em;}

.style_btn_group_detail ul li.select{ background:#666 url(../images/line1.png) right 0 repeat-y;}
.style_btn_group_detail ul li.select a{ color:#FFF;}

.style_btn_group_detail ul li.a1.select a i{ background:url(../images/dr_main_con_sub_nav.png) -2em 0 no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a2.select a i{ background:url(../images/dr_main_con_sub_nav.png) -2em -2em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a3.select a i{ background:url(../images/dr_main_con_sub_nav.png) -2em -4em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a4.select a i{ background:url(../images/dr_main_con_sub_nav.png) -2em -6em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a5.select a i{ background:url(../images/dr_main_con_sub_nav.png) -2em -8em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a6.select a i{ background:url(../images/dr_main_con_sub_nav.png) -2em -10em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a7.select a i{ background:url(../images/dr_main_con_sub_nav.png) -2em -12em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a8.select a i{ background:url(../images/dr_main_con_sub_nav.png) -2em -14em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a9.select a i{ background:url(../images/dr_main_con_sub_nav.png) -2em -16em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a10.select a i{ background:url(../images/dr_main_con_sub_nav.png) -2em -18em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a11.select a i{ background:url(../images/dr_main_con_sub_nav.png) -2em -20em no-repeat; background-size:4em 22em;}
/*kimi*/
.style_btn_group_detail ul li.a2_0 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -2em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a2_0 a{cursor:default;background-color: #000;}
.style_btn_group_detail ul li.a2_0 a:hover{color:#333333;}
.style_btn_group_detail ul li.a3_0 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -4em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a3_0 a{cursor:default;background-color: #000;}
.style_btn_group_detail ul li.a3_0 a:hover{color:#333333;}
.style_btn_group_detail ul li.a4_0 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -6em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a4_0 a{cursor:default;background-color: #000;}
.style_btn_group_detail ul li.a4_0 a:hover{color:#333333;}
.style_btn_group_detail ul li.a5_0 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -8em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a5_0 a{cursor:default;background-color: #000;}
.style_btn_group_detail ul li.a5_0 a:hover{color:#333333;}
.style_btn_group_detail ul li.a6_0 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -10em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a6_0 a{cursor:default;background-color: #000;}
.style_btn_group_detail ul li.a6_0 a:hover{color:#333333;}
.style_btn_group_detail ul li.a7_0 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -12em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a7_0 a{cursor:default;background-color: #000;}
.style_btn_group_detail ul li.a7_0 a:hover{color:#333333;}
.style_btn_group_detail ul li.a8_0 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -14em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a8_0 a{cursor:default;background-color: #000;}
.style_btn_group_detail ul li.a8_0 a:hover{color:#333333;}
.style_btn_group_detail ul li.a9_0 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -16em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a9_0 a{cursor:default;background-color: #000;}
.style_btn_group_detail ul li.a9_0 a:hover{color:#333333;}
.style_btn_group_detail ul li.a10_0 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -18em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a10_0 a{cursor:default;background-color: #000;}
.style_btn_group_detail ul li.a10_0 a:hover{color:#333333;}
.style_btn_group_detail ul li.a11_0 a i{ background:url(../images/dr_main_con_sub_nav.png) 0 -20em no-repeat; background-size:4em 22em;}
.style_btn_group_detail ul li.a11_0 a{cursor:default;background-color: #000;}
.style_btn_group_detail ul li.a11_0 a:hover{color:#333333;}
/*kimi*/
.tag_text{ position:absolute; z-index:999; width:100%; top:7.01%;}
.tag_text ul li{ float:left; width:33.33%; border-bottom:1px solid #ddd; background:#FFF url(../images/line1.png) right 0 repeat-y;}
.tag_text ul li a{ display:block; font-size:1.2em; height:4em; line-height:4em; text-align:center;width:100%;}
.tag_text ul li.select{ background:#666 url(../images/line1.png) right 0 repeat-y;}
.tag_text ul li.select a{ color:#FFF;}

/*列表 - 常规*/
.tj_wrapper { float:left; width:100%; margin:2em auto; }
.wrapper_box{ float:left; background:#FFF; width:13.9em; margin:1em 1em; position:relative;}
.wrapper_box.banner_box img{ width:auto; height:auto; margin:0;}

.wrapper_box img{ display:block; width:10em; height:10em; margin:1.95em;}

.wrapper_box dl{ display:block; float:left; width:13.9em;}
.wrapper_box dl dt{ display:block; float:left;}
.wrapper_box dl dt a{ display:block; float:left; width:13.9em; height:3em; line-height:3em; background:#bbb; color:#FFF;}
.wrapper_box dl dt a i{ display:block; float:left; width:1.3em; height:1em; background:url(../images/try_icon.png) 0 0 no-repeat; background-size:1.3em 1em; margin:1em 0.5em 0 4.9em;}
.wrapper_box dl dt a.tuijian{ text-align:center; width:5.5em; background:#F00;}

.wrapper_box dl dd a{ color:#999;}
.wrapper_box dl dd a span{ float:left;}
.wrapper_box dl dd.btn_xh{ float:left; margin:0 0 0.5em 0.5em;}
.wrapper_box dl dd.btn_xh i{ display:block; float:left; width:1.8em; height:1.8em; margin:-0.2em 0.5em 0 0; background:url(../images/list_icon.png) 0 -2.4em no-repeat; background-size:4em 6em;}
.wrapper_box dl dd.btn_ym{ float:right; margin:0 0.8em 0.5em 0;}
.wrapper_box dl dd.btn_ym i{ display:block; float:left; width:1.8em; height:1.8em; margin:-0.4em 0.5em 0 0; background:url(../images/list_icon.png) 0 -4em no-repeat; background-size:4em 6em;}

.wrapper_box dl dd.btn_xh.select a{ color:#ff0000;}
.wrapper_box dl dd.btn_ym.select a{ color:#ff0000;}
.wrapper_box dl dd.btn_xh.select a i{ background:url(../images/list_icon.png) -2em -2.4em no-repeat; background-size:4em 6em;}
.wrapper_box dl dd.btn_ym.select a i{  background:url(../images/list_icon.png) -2em -4em no-repeat; background-size:4em 6em;}

.wrapper_box h3{ display:block; float:left; width:12.9em; line-height:1.5em; height:auto; font-weight:normal;padding:0.5em;}
.wrapper_box h3 a{ color:#999999;}
.wrapper_box h3.h_orange{ color:#999999;}
.wrapper_box h3.h_blue{ color:#999999;}
.wrapper_box h3.h_pink{ color:#999999;}
/*售价库存*/
.pri_num{color:#999999;}
.pri_num span.price{color:#FF0000;font-size:15px;margin-right:5px;}
.pri_num span.stock2{color:#FF0000;margin:0 0.5em;}

/*列表 - 按钮组*/
.wrapper_box_btn_group{}

.wrapper_box_btn_group a.ysc_btn{ display:block; float:left; width:13.9em; height:4em; line-height:4em; border-bottom:0.1em solid #eee;}
.wrapper_box_btn_group a.ysc_btn i{ display:block; float:left; width:3em; height:3em; background:url(../images/wrapper_box_main_btn2.png) 0 0 no-repeat; background-size:6em 18em; margin:0.5em 0.5em 0 3.3em;}
.wrapper_box_btn_group a.ysc_btn:hover i{ background:url(../images/wrapper_box_main_btn2.png) -3em 0 no-repeat; background-size:6em 18em;}
.wrapper_box_btn_group a.ysc_btn.select{ color:#ff0000; background:url(../images/wrapper_box_main_btn2.png) 11em -7.2em no-repeat; background-size:6em 18em;}
.wrapper_box_btn_group a.ysc_btn.select i{background:url(../images/wrapper_box_main_btn2.png) -3em 0 no-repeat; background-size:6em 18em;}

.wrapper_box_btn_group a.ygm_btn{display:block; float:left; width:13.9em; height:4em; line-height:4em;}
.wrapper_box_btn_group a.ygm_btn i{ display:block; float:left; width:3em; height:3em; background:url(../images/wrapper_box_main_btn2.png) 0 -3em no-repeat; background-size:6em 18em; margin:0.5em 0.5em 0 3.3em;}
.wrapper_box_btn_group a.ygm_btn:hover i{ background:url(../images/wrapper_box_main_btn2.png) -3em -3em no-repeat; background-size:6em 18em;}
.wrapper_box_btn_group a.ygm_btn.select{ color:#ff0000; background:url(../images/wrapper_box_main_btn2.png) 11em -7.2em no-repeat; background-size:6em 18em;}
.wrapper_box_btn_group a.ygm_btn.select i{background:url(../images/wrapper_box_main_btn2.png) -3em -3em no-repeat; background-size:6em 18em;}


/*列表 - 搜索*/
.wrapper_box_search{}
.wrapper_box_search input{ float:left; width:6em; height:2.5em; border:none; background:#fff; margin:0.5em; padding-left:0.5em;}
.wrapper_box_search a{ display:block; float:right; width:36px; height:36px; background:url(../images/wrapper_box_main_btn2.png) -3em -13.6em no-repeat; background-size:6em 18em; margin:0.5em 0.5em 0.5em 0;}


/*列表 - 按钮组2*/
.wrapper_box_btn_group2{}
.wrapper_box_btn_group2 a{ display:block; float:left; text-align:center;}
.wrapper_box_btn_group2 a.scrd{ width:6.9em; height:4em; line-height:4em; border-right:0.1em solid #eee;}
.wrapper_box_btn_group2 a.xpfx{ width:6.9em; height:4em; line-height:4em;}
.wrapper_box_btn_group2 a.jgpx{ width:13.8em; height:4em; line-height:4em; border-top:0.1em solid #eee;}
.wrapper_box_btn_group2 a.jgpx span{ font-weight:bold; margin:0 0.5em;}
.wrapper_box_btn_group2 .sequence{ float:left; width:12.8em; height:2em; line-height:2em; border-top:0.1em solid #eee; padding:1em 0.5em 1.2em 0.5em; background:#FFF;}
.wrapper_box_btn_group2 .sequence select{ width:10.8em; height:2em; line-height:2em;}

/*列表 - 信息*/
.product_inf{ position:absolute; top:1.8em; left:0.75em; width:12.5em; height:auto; overflow:hidden; text-align:center;  color:#666;}
.product_inf .inf_top{ width:12.5em; height:1em; background:url(../images/product_inf_bg.png) 0 0 no-repeat; background-size:12.5em 18.2em;}

.product_inf .inf_con{  width:10.9em; height:auto; background:url(../images/product_inf_bg.png) 0 -0.8em repeat-y; background-size:12.5em 18.2em; padding:0.4em 0.8em; overflow:hidden;}
.product_inf .inf_con p.price{ font-size:2.2em; color:#ff0000;}
.product_inf .inf_con p.price span{ font-size:1em;}
.product_inf .inf_con p.stock{}
.product_inf .inf_con p.stock span{ color:#ff0000; margin:0 0.5em;}

.inf_xx{ width:10.9em; border-top:0.1em solid #eee; margin:0.8em 0 0.4em 0; padding-top:0.8em; text-align:left; line-height:1.5em;}

.product_inf .inf_bom{ width:12.5em; height:1.4em; background:url(../images/product_inf_bg.png) 0 -16.3em no-repeat; background-size:12.5em 18.2em; padding:0.6em 0 0 0;}
.product_inf .inf_bom a{ display:block; width:0.8em; height:0.8em; background:url(../images/drop_icon.png) 0 -0.8em no-repeat; background-size:0.8em 1.6em; margin:0 auto;}
.product_inf .inf_bom a.select{ background:url(../images/drop_icon.png) 0 0 no-repeat; background-size:0.8em 1.6em;}


/*列表 - 选择颜色*/
.product_color{ background:#eee; padding:1em 0.8em; overflow:hidden;}
.product_color h5{ color:#666; font-weight:normal; text-align:center; margin-bottom:0.5em;}
.product_color ul li{ float:left; margin:0.4em 0.3em;}
.product_color img{ width:2em; height:2em; margin:0;}


/*列表-性别*/
.product_gender{ background:#eee; padding:0.5em 0.4em; overflow:hidden;}
.product_gender h5{ color:#666; font-weight:normal; text-align:center; margin-bottom:0.5em;}
.product_gender ul li{ float:left; margin:0.5em 0.25em;}
.product_gender ul li a{ display:block; background:#F00; width:6em; height:2.5em; line-height:2.5em; text-align:center; color:#FFF;}


/*列表-套装*/
.product_set{ background:#eee; padding:1em 0.8em; overflow:hidden;}
.product_set h5{ color:#666; font-weight:normal; text-align:center; margin-bottom:0.5em;}
.product_set ul li{ float:left; margin:0.4em 0.5em;}
.product_set ul li a{ display:block; width:4.5em; height:4.5em; border:0.1em solid #ddd; padding:0.2em; background:#FFF;}
.product_set img{ width:4.5em; height:4.5em; margin:0;}



/*我的试衣间*/
.syj_btn{ position:fixed; top:44%; margin-top:-21.8em; right:0em; z-index:110;}
.syj_btn a.syj_btn_expansion{ width:3em; height:6em; position:absolute; top:15em; left:-3em; background:url(../images/sq1.png) 0 0 no-repeat; background-size:3em 6em;}

.syj{ width:28m; height:37.5em; border:1px solid #ff0000;  background:#FFF; z-index:100;}
.syj .baiyi_syj{ width:25.5em; height:31.5em; margin:1.25em;}
.btn_line{ width:28em; height:3.6em; position:absolute; bottom:0;}
.btn_line a{ display:block; float:left; height:3.6em; line-height:3.6em;}
.btn_line a.buy_btn{ width:12em; background:#ff0000; color:#FFF;}
.btn_line a.buy_btn i{ display:block; float:left; width:3em; height:3em; background:url(../images/buy_icon.png) 0 0 no-repeat; background-size:2.5em 2.5em; margin:0.5em 0.5em 0 2em;}
.btn_line a.sc_btn{ width:8em; background:#a1a1a1; color:#FFF; text-align:center;display: none;}
.btn_line a.bc_btn{ width:8em; background:#d1d1d1; color:#FFF; text-align:center;}

.btn_line .icon-medium-plus{ float:left; width:28em; height:3.6em; background:#FFF;}
.btn_line .icon-medium-plus .bshare-custom{ float:left;}
.btn_line .bshare-custom span{ float:left; color:#666; font-size:0.8em; margin:1.3em 1em 0 1em; }
.btn_line .bshare-custom .bshare-custom a{ float:left; margin:1em 0 0 0; }
.mini-cab-share2{padding-left: 12.7em;}
.buy_btns{ left:0px; bottom:42px; z-index:999; position: absolute;}
.buy_btns .buyurl {cursor: pointer; line-height: 15px;background:#fff;color:#666;padding: 5px 5px 5px 5px;}
.buy_btns ul li a{ display:block; background:#fff; border-top:1px solid #eee; height:35px; line-height:35px; padding:0px 5px 0px 5px; color:#666;}
.buy_btns ul li a:hover{ background:#666; color:#FFF;}

.syj .baby_fitting_room{width: 28em;}
.syj .baby_fitting_room .tops_bottoms {margin-left: 5em;}
.syj .baby_fitting_room .bottoms {margin-left: 5em; position: fixed;top: 21em;}
.syj .baby_fitting_room .single {margin:8em  0 0 5em;}

/*kimi*/
#waterfall-loading img{width:16px;height:11px;}
.right_search{width:13.9em;}
.noshow{background-color:#333333;cursor:default;}
.noshow:hover{color:#333333;}
/*登录弹窗*/
.mini-login{ background:#FFF; position:absolute; left:50%; top:5em; width:25em; height:32em; margin-left:-12.5em; border:0.2em solid #eee;z-index: 100;}
.mini-login a.mini-form-close{ display:block; font-size:2em; position:relative; margin-left:11em; top:0.7em; color:#F00;}
.mini-login h3{ font-size:2em; color:#9C0; margin:0 0 0.25em 1.25em;}
.mini-login .mini-control{ width:20em; margin:0 0 0 2em;}
.mini-login .mini-control label{ font-size:1em; line-height:2em; color:#999;}
.mini-login .mini-control input{ width:17em; height:3em; margin-bottom:1em;}
.mini-login .mini-control a.mini-login-fetch{ display:block; height:4em; line-height:4em; float:left;}
.mini-login .mini-control label.nomargin{ float:right; width:7em; line-height:4em;}
.mini-login .mini-control label.nomargin input { float:left; width:1.5em; height:1.5em; line-height:4em; margin:0.75em 0.5em 0 0;}
.mini-login .mini-control a.mini-login-submit{ display:block; float:left; width:21em; height:3em; line-height:3em; text-align:center; background:#F00; border:none; color:#FFF;}
.mini-login .mini-control a.mini-login-reg{ float:left; line-height:4em;}



/*注册弹窗*/
.mini-register{ background:#FFF; position:absolute; left:50%; top:5em; width:25em;  margin-left:-12.5em; border:0.2em solid #eee;z-index: 100;}
.mini-register a.mini-form-close{ display:block; font-size:2em; position:relative;  margin-left:11em; top:0.7em; color:#F00;}
.mini-register h3{ font-size:2em; color:#9C0; margin:0 0 0.25em 1.25em;}
.mini-register .mini-control{ width:20em; margin:0 0 0 2em; }
.mini-register .mini-control label{ font-size:1em; line-height:2em; color:#999; }
.mini-register .mini-control input{ width:17em; height:3em; margin-bottom:1em;}
.mini-register .mini-control a.mini-btns{ display:block; width:100%; height:3em; line-height:3em; text-align:center; background:#F00; color:#FFF; margin:1em 0;}
.mini-register .mini-control a.mini-btns1{ display:inline-flex; width:64%; height:3em; line-height:3em; text-align:center; background:#F00; color:#FFF; margin:1em 0;padding-left: 7.3em;}
.mini-register .mini-control span{ display:block; }
.mini-register .mini-control input.js-checked{ width:auto; float:left; margin-right:0.5em; margin-top:0.2em;}
.mini-register .mini-control input.mini-rel{ width:auto; float:left; margin-right:0.5em; margin-top:0.2em;}
.mini-register .mini-control input.mini-rel2{ width:auto; float:left; margin-right:0.5em; margin-top:0.2em;}
.mini-register .mini-control a.mini-reg-submit{ display:block; float:left; width:21em; height:3em; line-height:3em; text-align:center; background:#F00; border:none; color:#FFF; margin-bottom:1em;}
.mini-register .mini-control a.mini-reg-login{ display:block; float:left; width:21em; height:3em; line-height:3em; text-align:center; background:#999; border:none; color:#FFF; margin-bottom:2em;}

/*城市弹窗*/
.mini-city{ background:#FFF; position:absolute; left:50%; top:5em; width:25em;  margin-left:-12.5em; border:0.2em solid #eee;z-index: 100;}
.mini-city a.mini-city-close{ display:block; font-size:2em; position:relative; left:11em; top:0.7em; color:#F00;}
.mini-city h3{ font-size:2em; color:#9C0; margin:0 0 1em 1.25em;}
.mini-city .mini-control{ width:20em; margin:0 0 0 2em; }
.mini-city .mini-control label{ font-size:1em; line-height:2em; color:#999; }
.mini-city .mini-control select{ width:17em; height:3em; margin-bottom:1em;}
.mini-city-submit{ display:block; float:left; width:17em; height:3em; line-height:3em; text-align:center; background:#f00; border:none; color:#FFF; margin-bottom:2em;}

/*== 地图弹窗 ==*/
.map_light_box{background:#FFF; position:absolute; left:50%; top:5em; width:26em;  margin-left:-12.5em; border:0.2em solid #eee;z-index: 100;}
a.light_box_close{  background:url(../images/mini/close2.png) 0 0 no-repeat; width:41px; height:41px; position:absolute; right:-15px; top:-15px;}
.map_light_box .mini-control{ width:20em; margin:0 0 0 2em; }
.map_light_box .mini-control label{ font-size:1em; line-height:2em; color:#999; }
.map_light_box .mini-control select{ width:17em; height:3em; margin-bottom:1em;}
.map_light_box h3{ font-size:20px; color:#999;  font-weight:normal;}
.light_box_u_map_con{ background:#555; width:25.5em; height:405px;}

/*中部类别，自定义分类关闭*/
.style_btn_group_detail a.mini-form-close{ display:block; font-size:2em; position:absolute; left:14em; top:0.4em; color:#F00;}
.tag_text a.mini-form-close{ display:block; font-size:2em; position:absolute; left:14em; top:0.4em; color:#F00;}
.tag_text2 a.mini-form-close{ display:block; font-size:2em; position:absolute; left:14em; top:0.4em; color:#F00;}
.mini-mask{
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    cursor: pointer;
    position: absolute;
}


.mini-mask2{
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    cursor: pointer;
    position: absolute;
}


/*颜色选择*/
.sale-colors i {
    display: none
}
.sale-colors .pro-selected i {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    text-indent: -99em;
    display: block;
    background-image: url(../images/mini/mini-selected.png);
    background-repeat: no-repeat;
    background-position: 0 -49px;
}
.sale-colors .tb-out-of-stock i {
    display: none
}
.sale-colors li {
    float: left;
    width: 34px;
    position: relative;
    margin: 0 4px 4px 0;
    line-height: 20px;
    vertical-align: middle;
    padding: 1px
}
.sale-colors li a {
    float: left;
    background-color: #fff;
    white-space: nowrap;
    width: auto!important;
    min-width: 10px;
    padding: 0 6px;
    text-align: center;
    border: 1px solid #b8b7bd;
    color: #000;
    text-decoration: none
}
.sale-colors li a:hover {
    border: 2px solid #be0106;
    margin: -1px
}
.sale-colors li.pro-selected a {
    border: 2px solid #be0106;
    margin: -1px
}
.sale-colors li.pro-selected a:hover {
    border: 2px solid #be0106;
    margin: -1px
}
.sale-colors li a:focus {
    outline: 0
}
.sale-colors li.pro-selected li a {
    border: 1px solid #e2e1e3;
    margin: 0
}
.sale-colors li span {
    padding-left: 1px
}
.sale-colors .color-img li a {
    width: 32px!important;
    height: 32px;
    padding: 0;
    line-height: 32px;
    background-repeat: no-repeat;
    outline: 0;
    background-position: center center
}
.sale-colors .color-img li span {
    display: block;
    text-indent: -9999em
}
.sale-colors .color-img li.tb-txt a {
    padding: 0 5px;
    width: auto!important
}
.sale-colors .color-img li.tb-txt span {
    text-indent: 0;
    width: auto
}

/*隐私声明*/
.mini-clause{ background:#FFF; position:absolute; left:50%; top:38em; width:25em;  margin-left:-12.5em; border:0.2em solid #eee;z-index: 120;}
.mini-clause h3{ font-size:2em; color:#9C0; margin:1.5em 0 1em 0; text-align:center;}
.mini-clause-con{ width:22em; height:22em; padding-right:0.5em; overflow:auto; margin:0 0 1em 2em; }
.mini-clause p{ color:#666; line-height:2em; margin:1em 0;}
.mini-clause b{ color:#666; line-height:2em;}
.mini-clause .mini-control button {margin-left: 0.8em;}

/*修改密码*/
.mini-change-password{ background:#FFF; position:absolute; left:50%; top:5em; width:25em; margin-left:-12.5em; border:0.2em solid #eee;z-index: 100;}
.mini-change-password a.mini-form-close{ display:block; font-size:2em; position:relative;  margin-left:11em; top:0.7em; color:#F00;}
.mini-change-password h3{ font-size:2em; color:#9C0; margin:0 0 0.5em 1.15em;}
.mini-change-password .mini-control{ width:20em; margin:0 0 0 2em;}
.mini-change-password .mini-control label{ font-size:1em; line-height:2em; color:#999;}
.mini-change-password .mini-control input{ width:17em; height:3em; margin-bottom:1em;}
.mini-change-password .mini-control a.mini-login-fetch{ display:block; height:4em; line-height:4em; float:left;}
.mini-change-password .mini-control label.nomargin{ float:right; width:7em; line-height:4em;}
.mini-change-password .mini-control label.nomargin input { float:left; width:1.5em; height:1.5em; line-height:4em; margin:0.75em 0.5em 0 0;}
.mini-change-password .mini-control a.mini-password-submit{ display:block; float:left; width:21em; height:3em; line-height:3em; text-align:center; background:#F00; border:none; color:#FFF; margin-bottom:2em;}

.mini-control-tips{ margin:1em 2em; color:#F00;}

.mini-change-succ{ background:#FFF; position:absolute; left:50%; top:5em; width:25em; margin-left:-12.5em; border:0.2em solid #eee;}
.mini-change-succ p{ text-align:center; color:#333; font-size:2em; line-height:5em;}
.mini-change-succ button{ margin-left: 0.8em;}

/*忘记密码*/
.mini-fetch{ background:#FFF; position:absolute; left:50%; top:5em; width:25em; margin-left:-12.5em; border:0.2em solid #eee;z-index: 100;}
.mini-fetch h3{ font-size:2em; color:#9C0; margin:0 0 0.5em 1.15em;}
.mini-fetch a.mini-form-close{ display:block; font-size:2em; position:relative;  margin-left:11em; top:0.7em; color:#F00;}
.mini-fetch a.mini-fetch-back{ width: 20.5em;}
.mini-fetch .mini-control{ width:20em; margin:0 0 0 2em;}
.mini-fetch .mini-control label{ font-size:1em; line-height:2em; color:#999;}
.mini-fetch .mini-control input{ width:17em; height:3em; margin-bottom:1em;}
.mini-fetch .mini-fetch-succ{ background:#FFF; position:absolute; left:50%; top:5em; width:25em; margin-left:-12.5em; border:0.2em solid #eee;}
.mini-fetch .mini-fetch-succ p{ text-align:center; color:#333; font-size:2em; line-height:3em;}
.mini-fetch .mini-fetch-succ button{ margin-left: 0.8em;}
